[2014-09-03 14:36] nZac opened #1 "Port ansigenome readme to RST"

[2014-10-13 01:57] hleitzell opened #48 "Vagrantfile controller bootstrap"
I've been attempting to come up with a Vagrantfile that can provide a bootstrapped compatible controller using just your playbooks but there is still a bunch of work to be done (https://github.com/mitchellh/vagrant/issues/3396) to make everything "just-work".
Ideally, Ansible + Vagrant will be cross platform compatible with a local Ansible internally (https://github.com/podarok/vansible) & (https:

[2014-12-01 07:55] drybjed opened #62 "Add system-wide configuration file"
`/etc/debops/debops.cfg` should be used as the default system-wide configuration file. It could specify an address and branch of default `debops-playbooks` git repository, which could allow to easily install playbook and roles from different repositories instead of the official one.

[2015-01-12 14:49] do3cc opened #75 "network configuration for servers with static ips"
Currently, ifupdown only configures network, if there is no mention of the word static in /etc/network/interfaces
Often, root servers have a static configuration provided by the hosting provider.
With such a setup, setting the server up as a kvm host will fail with surprising errors.
First, no br2 interface is created.
I am not sure, what is the right location to fix that.
It depends on what is a

[2015-01-13 08:49] drybjed commented on #75
The solution to this is, quite frankly, to configure your hosts' network in the Ansible inventory. Not everything can be easily detected and automatically managed by a role. DHCP configuration is the common one, if your server uses some other configuration (static interfaces, bonding, vlans, etc.) it's your job to provide correct configuration. `debops.ifupdown` just allows you to do it in a conve

[2015-01-13 09:00] do3cc commented on #75
This is what we went on with. Thing is, currently, the ifupdown silently does nothing and one does not know why.

[2015-01-19 21:28] drybjed commented on #1
README files have been ported to `.rst` and back to `.md` again. Closing the issue. :-)

[2015-01-19 21:28] #1 closed

[2015-01-19 21:54] nZac commented on #1
MARKDOWN!!!! What is this heresy! :)

[2015-01-19 21:55] drybjed commented on #1
@nZac Not our fault, at present Ansible Galaxy won't accept any roles without `README.md` inside.

[2015-01-27 13:06] mboyer-sitepen opened #83 "debops v0.2.0 fails to run on Yosemite"
$ debops
Traceback (most recent call last):
  File "/usr/local/bin/debops", line 162, in <module>
    main(sys.argv[1:])
  File "/usr/local/bin/debops", line 97, in main
    config = read_config(debops_root)
  File "/Library/Python/2.7/site-packages/debops/config.py", line 60, in read_config
    configfiles = _configfiles + [os.path.join(debops_root, DEBOPS_CONFIG)]
TypeError: unsupported operand

[2015-01-27 13:40] rchady opened #85 "Debops system-wide installation option(s)"
DebOps used to do a system-wide installation in to /usr/local.  Since v0.2.0, it no longer does and instead installs in $HOME/.local.  This might work well when you have a single person working with DebOps, but once you have more than one, the system-wide installation is required.

A suggestion I have is to have debops default to using a global /etc/debops.conf file whose location can be overridde

[2015-01-27 14:28] mboyer-sitepen commented on #83
Fixed with commit from:
https://github.com/debops/debops/commit/06750c1885c0338a642b873397fb4d8b2fe49548

[2015-01-27 14:28] #83 closed

[2015-01-29 10:14] drybjed commented on #85
Pinging @htgoebel for this issue. :-)

[2015-01-30 08:18] htgoebel commented on #85
Okay, I'll implement the feature. Will take some time, though.

[2015-02-03 12:42] #62 closed

[2015-02-03 12:42] #85 closed

[2015-02-12 14:29] drybjed opened #94 "ansible-playbook cannot be interrupted with Ctrl-C"
When `debops` passes control to `ansible-playbook`, pressing Control+C does not stop the playbook execution. Is there something we could do to fix this?

[2015-02-21 15:08] htgoebel commented on #94
I'll have a look at it next week.

[2015-02-22 12:02] htgoebel commented on #94
I can not reproduce this. Ctrl-C works fine here on a Linux system.
[code]

Do you have this problem on Linux or on a different platform?

[2015-02-22 12:06] drybjed commented on #94
On Linux. And yeah, I just tested it and it works again. Weird. Maybe that was something else at the time. OK, I'll close this issue for now and see what happens.

[2015-02-22 12:06] #94 closed

[2015-02-24 19:41] rchady opened #96 "Look for global debops.cfg in /etc"
Can we make debops look for /etc/debops.cfg on all systems that aren't windows?  It is a standard place for global information.  On OSX it ONLY looks in /Library/Application Support...

[2015-03-28 16:46] 0vermind opened #102 "ERROR: set_fact is not a legal parameter in an Ansible task or handler"
Hi guys  great project!
Just installed via apt + pip (ubuntu lts 14.04) following the docs, but i get when i try to start debops in myproject dir.
What kind of problem could it be?

[2015-03-28 16:48] drybjed commented on #102
@0vermind How did you install Ansible? It looks like you don't have Ansible modules installed.

[2015-03-28 17:14] 0vermind commented on #102
I installed it via apt and I'm sure plugins are there because I can use words like apt: or user: which are core modules.

[2015-03-28 17:16] drybjed commented on #102
@0vermind In that case `set_fact` should also work because it's a core module... Did you install current stable Ansible (1.9) ?

[2015-03-28 17:52] 0vermind commented on #102
you where right but I don-t understand what is happening:
the playbooks in /debops is empty!

I was hoping to have a newer version.
Thanks for the hints. I am Upgrading right now.

[2015-03-28 17:54] drybjed commented on #102
After you install `debops` through `pip`, you need to run `debops-update` to download all the roles and playbooks from GitHub.

[2015-03-29 14:30] 0vermind commented on #102
Shame on me, I was too distracted then I was following the guide. I managed to run debops flawlessly after the ugrade.
I still have a bit of problems accessing a server using my ssh key but I digging into that. Using ssh from command line works,

but not from ansible or debops.
Thanks a lot for the fast help, wow, insane.

[2015-03-29 14:30] #102 closed

[2015-03-29 16:06] drybjed commented on #102
@0vermind Ansible / DebOps uses your `ssh` settings to access the remote hosts. If you use a different key than `~/.ssh/id_rsa`, then you need to point to that key in the Ansible inventory, using `ansible_ssh_authorized_key` parameter, IIRC. Or you could set it up in `~/.ssh/config` as well, just remember to use `ssh` connection plugin in Ansible instead of paramiko.

[2015-04-09 13:50] 0vermind opened #103 "debops fails common task: install 'openntpd' --no-install-recommends' failed: /etc/openntpd/ntpd.conf: Permission denied"
In ubuntu 14.01 ntpd.yml task fails lunching debops playbook.
I think is due to this bug: https://bugs.launchpad.net/ubuntu/+source/openntpd/+bug/458061
I solved the problem as written in comment bug  24 running commands not in the same order but still...

[2015-04-09 13:56] drybjed commented on #103
@0vermind Do you had `ntp` package installed before running DebOps playbook on that host? Check with `dpkg -l | grep ntp`. On a Xubuntu desktop install this issue does not show up, did you use server install?

[2015-04-09 14:20] 0vermind commented on #103
I don't know I used the docker image based on ubuntu, made by my host (digitalocean). Checking now would be useless, but if this can help you I can create another vps server and check. In any case solving the error was a matter of restart apparmor to purge openntpd and  ntpd package.

[2015-04-09 17:03] 0vermind opened #104 "passlib must be installed to encrypt vars_prompt values"
I don't know why running

pass lib was not installed on the node but running:

solved the problem.
Btw, I'm a bit afraid what will be doing the task.

[2015-04-09 17:17] 0vermind opened #105 "running common tasks on a node denied other hosts to login on the server"
I ran debops on a test server and finally finished all task with no errors, but my colleagues where suddenly denied to access the server.
I like the harding debops made, and make sense to allow only controllers host to log as root but  how I can re-enable access to my colleagues without having them to run debops on their machine as controllers. They are still afraid about it.

[2015-04-09 17:20] drybjed commented on #103
@0vermind You mean an Ubuntu virtual machine which could run Docker containers? That would make sense, in that case they probably included `ntpd` as standard. How about this - for these hosts, set `ntp_daemon: 'ntpd'`, in which case `openntpd` won't be installed and DebOps will just go happily with `ntpd` instead. Could you try it and report back?

[2015-04-09 17:23] drybjed commented on #104
`python-passlib` is required on the Ansible Controller (the machine you are running Ansible on) to encrypt passwords. This particular task will set the `root` account password to a random ~32 char string and save that password in DebOps `secret/` directory. That way each host can have its own random `root` password and you can always retrieve it if necessary from secrets. Just keep them secure. :-

[2015-04-09 17:26] drybjed commented on #105
You can use `debops.sshd` role to do that. Specifically, in your inventory set:

    sshd_host_whitelist: [ '192.0.2.0/24' ]

This will configure that CIDR range to be accessible through the firewall (using `debops.ferm`) and TCP wrappers (using `debops.tcpwrappers`). After that, your colleagues while being in specified network range(s) will be able to access these hosts. You can also create separ

[2015-04-10 14:45] 0vermind commented on #103
I just created a new docker (ubuntu based) image, and i can confirm:

ii  ntpdate                             1:4.2.6.p5+dfsg-3ubuntu2.14.04.2 amd64        client for setting system time from NTP servers

ntpd is not present, only nptdate. why it's failing?

[2015-04-10 14:50] drybjed commented on #103
@0vermind I'm not sure. Did you try setting `ntpd` as default instead of `openntpd`? Also, check if you have `cap_sys_time` capability in the container, by running for example:

    capsh --print | grep sys_time

on the `root` account.

[2015-04-10 15:15] 0vermind commented on #103
Current: = cap_chown,cap_dac_override,cap_dac_read_search,cap_fowner,cap_fsetid,cap_kill,cap_setgid,cap_setuid,cap_setpcap,cap_linux_immutable,cap_net_bind_service,cap_net_broadcast,cap_net_admin,cap_net_raw,cap_ipc_lock,cap_ipc_owner,cap_sys_module,cap_sys_rawio,cap_sys_chroot,cap_sys_ptrace,cap_sys_pacct,cap_sys_admin,cap_sys_boot,cap_sys_nice,cap_sys_resource,cap_sys_time,cap_sys_tty_config,cap

[2015-04-10 15:19] drybjed commented on #103
@0vermind OK, so you have `cap_sys_time` present, that's why DebOps is trying to install `ntp` daemon on the host.

You configure roles using variables in Ansible inventory. For example, if you have this host in your `inventory/hosts` file as `debops`, you can create `inventory/host_vars/debops/ntp.yml` file with contents:

[code]

This will switch the default daemon from `openntpd` to `ntpd`. Alt

[2015-04-10 15:33] 0vermind commented on #103
Thanks for explanation. I'm quite new on Ansible and debops, and as I said before I evaded the bug in another way. I thought you would be interested in knowing that the ntpd playbook need to be adjust if we want to run flowerless on this host.

[2015-04-10 15:33] #103 closed

[2015-04-10 15:37] drybjed commented on #103
@0vermind Well, roles can't be configured to work on everything automatically at all times. :-) Usually LXC containers don't have `cap_sys_time` capability enabled which indicates that DebOps should not install any NTP daemon there, since the host itself will manage time. However it seems that in this case the Docker container had this capability enabled for some reason, but using above method you

[2015-04-10 22:50] 0vermind commented on #105
Let me understand better for a newbie like me :wink:   I need to run move the server host in my inventory under a group called debops_sshd, then a to the line of  the host to control  sshd_host_whitelist: [ '192.0.2.0/24' ] like this

test.net  ansible_ssh_private_key_file=/home/user/private-key sshd_host_whitelist: [ '1.2.3.4.' ]

and then run debops with tags=sshd or the main.yml task inside the

[2015-04-10 23:25] drybjed commented on #105
First, read this section: http://docs.ansible.com/intro_inventory.html#splitting-out-host-and-group-specific-data

In short, when we talk about Ansible inventory, we can see it as two things:

- `inventory/hosts` file, which is an INI file and defines list of hosts and groups that are active in this particular inventory;

- `inventory/{group,host}_vars/` directories, which contain subdirectories,

[2015-04-27 13:13] muelli opened #106 "running debops as per the documentation does not work"
I followed the documentation on http://docs.debops.org/en/latest/getting-started.html#your-first-project

I cloned the debops repository and did a `python setup.py install --user`. `debops-update` seems to run fine.  But I needed to patch `GIT_GIT_URI  = GIT_URI`, because I am behind a corporate proxy.

I.e.
[code]

Currently, the readme states:

[code]

When I do that, I get

[code]

I expected t

[2015-04-27 14:19] drybjed commented on #106
At the moment, DebOps requires Ansible 1.8.0+, preferably current stable Ansible version (~1.9.x).

[2015-04-27 14:50] muelli commented on #106
ah. interesting. It would have helped me if debops stated that fact.  I'll try to upgrade ansible.

[2015-04-27 15:03] muelli opened #107 "make misc/scripts/bootstrap_ansible more proxy friendly"
Currrently, it uses
[code]
which is not friendly for people behind a proxy, because setting up git to use the git protocol via a proxy is much more painful than setting it up to use HTTP through a proxy.

The HTTP URL seems to work well, so I suggest to use that instead.

[2015-04-27 15:15] muelli opened #108 "boostrap_ansible does not work on recent ubuntu: E: ansible: depends-on-obsolete-package depends: python-support (>= 0.90) => use dh_python2 instead"
when trying to build ansible:
[code]

I expected it to work on my ubuntu 15.04 because of the comment in the file:
[code]

[2015-04-27 15:18] drybjed commented on #108
This script just uses `make deb` command in Ansible source Makefile to create the `.debs`, perhaps try installing Ansible from the Ansible official PPA instead. They should have current packages.

[2015-04-27 15:42] drybjed commented on #107
Will it work with `https://` URL as well?

[2015-04-27 15:50] muelli commented on #107
yes :) When `https_proxy` is set.

[2015-04-27 15:52] drybjed commented on #107
Great, I'll switch it then when I get a chance, or you could post a PR. Also, come over to `#debops` @ FreeNode if you want, some issues could be solved better in real time. :)

[2015-05-08 05:52] Zorlin opened #110 "su doesn't require password"
Hi there,

From an admin/sudo user, if you type "su" and hit enter it drops you straight into a root shell.

Feature or bug?

[2015-05-08 06:02] Zorlin commented on #110
By design, from what tobijb and I could ascertain.

<tobijb> https://github.com/debops/ansible-auth/blob/master/templates/etc/pam.d/su.j2#L22

[2015-05-08 06:02] #110 closed

[2015-05-08 06:28] drybjed commented on #110
It's by design but using some more PAM-based security (Yubikey? SSH agent?) could be added in the future. Root password is randomized so kind of hard to use `su` with it.

[2015-05-12 07:22] Zorlin opened #112 "Missing python-passlib dependency"
Hi there,

By default the pip install doesn't bring in python-passlib which is required to generate the root password for machines.

Thanks,
~ B

[2015-05-20 14:51] muelli opened #113 "mysql configuration fails when hostname has a capital letter"
For some reason configuring mysqld does not work when the hostname is not all lower case.
The work-around is to edit /etc/hostname and /etc/hosts to remove capital letters.
This may very well be a in bug in Debian's mysql setup. But I file it here so that it can be tracked.

[2015-05-21 06:47] drybjed commented on #113
After some research I've found bug reports, [this](https://bugs.mysql.com/bug.php?id=62254), [this](https://bugzilla.redhat.com/show_bug.cgi?id=1093367) and [this](http://forum.synology.com/enu/viewtopic.php?f=20&t=83225) suggesting that it might be a bug related to mysql installation scripts. It looks like the MySQL server itself handles hostnames in lowercase, but the initialization script doesn

[2015-05-21 06:57] muelli commented on #113
right.  So I guess this needs to be escalated to Debian, then.

FWIW: the puppet people are apparently "fixing" it themselves: https://github.com/larsks/puppetlabs-mysql/commit/0afb8f09e8537b7681dd0b2b82d3cf6a954313d2
So that's arguably a good enough solution.
But the root cause should really be fixed. I've never filed a Debian bug. Can you do that?

[2015-05-21 07:05] drybjed commented on #113
@muelli An equivalent to Puppet solution would be an update to Ansible's `mysql_user` module.

This bug might already be fixed in Jessie, either in MySQL or MariaDB server. Before sending alarms anywhere it should be tested on current Debian Stable if bug still exists.

[2015-05-21 07:11] drybjed commented on #113
It looks like at least in MariaDB on Debian, installation script lowers the hostname in [mysql_system_tables_data.sql](https://sources.debian.net/src/mariadb-10.0/10.0.16-1/scripts/mysql_system_tables_data.sql/#L27)

[2015-05-25 00:38] ganto commented on #107
It seems that #109 is already fixing some of the proxy issues mentioned here, however, I have another special case where the `debops-update` script is not working well.

In my case, outgoing traffic is only open to port 443. Requests to port 9418 is silently dropped. This leads to the following interesting side effect:

* when running `debops-update` on a fresh installation, fetching the first rol

[2015-05-25 20:08] ganto opened #116 "Best Practise Configuration (or: how to use 'playbooks-paths'?)"
For a while I'm trying to find the best way how to easily extend DebOps with my custom roles. However, I'm failing to find a satisfying configuration.

So far my approach was to create a custom `<project>/ansible/playbooks/site.yml` where I include the upstream `site.yml` at the end. The dirty hack in this configuration is that the upstream `site.yml` has to be given with a concrete path. E.g.

[2015-05-25 20:13] drybjed commented on #116
I don't combine "standard" DebOps playbooks and custom playbooks into one, in other words, I usually run just standard playbooks/roles and custom roles are executed separately as needed from `project/playbooks/` or `project/ansible/playbooks/`.

I'm not sure how playbook include in Ansible works when playbooks and roles are in completely different paths, if it creates issues I'm open to changes in

[2015-05-26 01:08] carlalexander commented on #116
I'm also curious how to extend debops. I considered doing something like @ganto, but a lot of issue tickets mention separate playbooks for new roles.

I feel there might be an issue with the default configuration to do this as well. Or maybe it's just missing documentation. Or I'm missing something.

I'm trying to build a `wordpress` application role in a separate. I'm using the `phpmyadmin` role

[2015-05-31 02:28] carlalexander opened #117 "Custom playbook can't find "task_src" lookup plugin"
I'm trying to build a `wordpress` application role in a separate role/playbook. I'm using the `phpmyadmin` role as a base. So you get dependencies that look like:
[code]

The role is in its own playbook called `wordpress.yml` that follows the `application.yml` standard.

[code]

I get this error when I run `debops wordpress`:
[code]

It finds the plugin if I just assign the host to the group `debo

[2015-05-31 15:46] drybjed commented on #117
Hi, sorry for taking so long to respond. My development environment looks like this:

- DebOps roles and playbooks are installed in `~/.local/share/debops/`, just by running `debops-update`;
- I keep my project directory in `~/src/projects/devel/`, custom playbooks are in `~/src/projects/devel/playbooks/`, custom roles are in `~/src/projects/devel/roles/`;

I just tried your setup by adding a word

[2015-05-31 17:27] carlalexander commented on #117
I'm on MacOSX. I installed Debops using `pip install debops`. Everything is up to date. All the Debops playsbooks are in `/Users/carlalexander/Library/Application Support/debops` which is the same as "~/Library/Application Support/debops` in the "Getting started" guide.

Here is the `ansible.cfg` generated by Debops. You'll see that the correct path is there.
[code]

When I check the content of `/

[2015-05-31 17:32] drybjed commented on #117
I remember that there were some problems with space in the path ("Application Support"), could you move the DebOps playbooks to a path without space and try it? Also, what happens when you run:

    ansible-playbook playbooks/wordpress.yml -u root

Basically, bypass the `debops` script and run `ansible-playbook` directly with file generated by `debops`, what happens then?

Could you try doing the

[2015-05-31 18:07] carlalexander commented on #117
Yup, that was the issue! I symlinked the debops install to `/usr/local/share/debops`. That fixed the issue. I didn't think it was the cause. I saw [some code](https://github.com/debops/debops/blob/d984ab3f6ece073a31694145101231aef47771cd/bin/debops#L100) dealing with the [issue](https://github.com/ansible/ansible/issues/8555) in the Debops binary. I assumed it was working.

Thanks for the help!

[2015-05-31 18:07] #117 closed

[2015-05-31 18:10] drybjed commented on #117
@carlalexander So this is Ansible issue after all? So that means that on MacOSX putting playbooks in current default (Application Support) will cause these sort of errors each time for everyone... I would change the default then, what do you think?

[2015-05-31 18:12] carlalexander commented on #117
I think you should. I'm no expert, but I think somewhere under `/usr/local` is better. That's where I see most of the things get installed.

[2015-05-31 18:23] drybjed commented on #117
No, `/usr/local/` is wrong in this case, the idea is to have the playbooks and roles per-user account. On Linux it's in `~/.local/share/`, but on MacOSX the canonical place apparently is `~/Library/Application Support/`. Is there another path without spaces that's in the user home directory and can be used for this purpose?

I guess we could go with `~/.local/share/` as well, but that might be jar

[2015-06-01 10:30] htgoebel commented on #117
This clearly is a bug in Ansible, still present in 1.7.2, see https://github.com/ansible/ansible/issues/8555. I suggest keeping the applications behaviour of debops, which means no change. But if you decide to change, I'm fine with it - it's your project :-)

[2015-06-01 10:34] drybjed commented on #117
Then perhaps we should ask @bcoca or @abadger if they are looking into fixing that upstream first...

[2015-06-01 10:53] htgoebel commented on #96
This is already implemented in cfc333902.
@debops/developers please close

[2015-06-01 10:53] #96 closed

[2015-06-01 10:54] htgoebel commented on #112
duplicate, see #104

[2015-06-01 10:54] #112 closed

[2015-06-01 10:56] htgoebel commented on #104
@drybjed The question is: should passlib be installed on the controller when debops is installed via pip? If so: just add a it to the `install_requires` in `setup.py`

[2015-06-01 13:31] rchady commented on #117
Wait, why should the playbooks/roles be per-user account?  Custom ones, sure and inventory sure... but the debops stuff should be global in nature, unless I am missing the question here.  I personally dislike much of the ~/Library stuff for OSX and instead use the underlying unixy layout.

[2015-06-01 13:33] drybjed commented on #117
DebOps scripts sure, they can be in `/usr/local/bin/`, but I think that playbooks and roles should be user-based, since you don't need root permissions to update them.

[2015-06-01 13:36] htgoebel commented on #117
This issue is *not* about this question. This issue is about spaces in paths on OSX. They may happen even in global directories.

[2015-06-01 13:42] rchady commented on #117
Regarding spaces in paths, yeah that is an ansible issue.

Regarding where the playbooks/roles are at, I believe a far better solution would be to rely on the global /etc/debops.cfg file to indicate where they should be installed.  I, for one, do not want per-user roles/playbooks.

[2015-06-01 13:43] drybjed commented on #117
I think `/etc/debops.cfg` can alteady be used that way?

[2015-06-01 16:38] htgoebel commented on #117
Re: https://github.com/debops/debops/issues/117#issuecomment-107481242

1. This is another topic! Please do not mix issues, this makes following them hard.
2. This is already addressed in #96, which was opened by yourself..

[2015-07-27 14:06] ypid opened #120 "Use {{ ansible_managed }} instead of 'This file is managed by Ansible, all changes will be lost'?"
What do you think?

Currently it is only used in [a few places](https://github.com/debops/ansible-preseed/blob/0f20b8404324dd7fbb9e0e89cad93b35e4d15a05/templates/srv/www/preseed/configs/d-i/debian.cfg.j2).

Is [your debops.plan](https://gist.github.com/drybjed/eab56e3653c1d94e7b31/059ac168d37b6d01c6fb04d6e0a3985bbeeef819#file-debops-plan-L3) related to this?

[2015-07-27 14:19] nickjj commented on #120
We used `{{ ansible_managed }}` in the past and changed it to a static string because `{{ ansible_managed }}` was creating idempotency issues.

[2015-07-27 14:36] ypid commented on #120
Fair enough. With a static variable defined in `ansible.cfg`, there should not be any issues.
I also remember that the modification time used to be included in the default `ansible_managed` but those times are gone: https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg#L93

    ansible_managed = This file is managed by Ansible, all changes will be lost.

[2015-07-27 15:10] nickjj commented on #120
Right, we made the change to a static string well before it was tweakable in `ansible.cfg`. @drybjed, what do you think about making this change?

[2015-07-27 15:14] chymian opened #121 "debops-update fails"
debops-update is failing between 9/76 and 15/76

so, I dont know, whether github is to blame for the "timeout" or not.
I was pinging github in parallel and got roundtriptimes from 99 to 104 sec on this 25Mbit/s cable connection. so, the network-path seems to be ok.
I had this error on different occasions, but today, it's not giving me one successful update out of 20  attempts within an hour.
even

[2015-07-27 16:23] drybjed commented on #121
Yes, this is usually GitHub's fault. Try a few more times, you should get all of them eventually.

[2015-07-27 16:26] drybjed commented on #120
I'm all for using `{{ ansible_managed }}` again, I've been doing it for some time now. No rush though - when I modify a file that has a static string, I update it to dynamic.

Nice to hear that `ansible.cfg` dropped the date in default value.

Yes, `debops.plan` is my own quasi-todo list for the project for 2015. I try to follow it, but sometimes work obligations take precedence (ie. I need to set

[2015-07-27 16:41] ypid commented on #120
I think this is relatively easy doable with a short shell script. Try `grep`ing over all repos. Something like:

    git submodule foreach git ls-files | xargs sed -s-in-place 's/This file is managed by Ansible, all changes will be lost./{{ ansible_managed }}/g'

[2015-08-03 12:43] dalyc opened #122 "Create an alias that redirects messages to /dev/null"
e.g blackhole or devnull

This is already possible by setting
postfix_local_aliases: {   'blackhole': ['/dev/null'] }

but it would be nice to have by default

[2015-08-06 08:13] leviwheatcroft opened #123 "debops-update : no such file or directory"
I've been following through the [the installation instructions here.](http://docs.debops.org/en/latest/debops/docs/installation.html)

When I get to `debops-update` I get the output below. I'm a bit naive to this, I tried creating the directory mentioned in the second line, but I get the same error, looks like something to do with the install_path

-----
levi@debianOffice:~$ debops-update
DebOps p

[2015-08-06 08:17] drybjed commented on #123
So you tried DebOps from pypi? Can you try with version from GitHub and see if you get the same result?

[2015-08-06 22:41] leviwheatcroft commented on #123
different issue...

[code]

Is python 2.7 correct. I noticed I'm running ansible 1.7, while 1.9 is recommended, but I don't think that's what caused the error here.

[2015-08-06 22:47] drybjed commented on #123
Yes, python 2.7 is fine. DebOps scripts should work in the same environment
Ansible does, Debian Wheezy+, Ubuntu Trusty+. Don't use virtualenv. Perhaps
try in clean Jessie VM. If that doesn't help I could do a shared screen
session to try and debug.

[2015-08-07 10:35] leviwheatcroft commented on #123
Ok so for my first issue, debops-update returning `no such file or directory`, yes cloning the git repo solved this problem.

For the second issue, python ZeroReturnError(), I resolved that by:
[code]
I rarely use python, so I installed python on this machine (Debian Jessie) just a few days ago for the first time to play around with ansible. The pyOpenSSL package installed by default was 0.14, and

[2015-08-07 10:35] #123 closed

[2015-08-07 10:39] drybjed commented on #123
Good to know you fixed the issue. I wonder if it's repeatable and should requirements reflect that pyOpenSSL needs to be updated on Jessie, however I'm running Ansible on Ubuntu Trusty machine where I have `0.13` installed, and no issues. Perhaps it's related to this specific `0.14` version of pyOpenSSL.

[2015-08-29 16:34] dvigueras opened #125 "Can't overwrite default inventory hosts file in .debops.cfg"
When trying to overwrite the default `hostfile` var in `.debops.cfg`, after generating `ansible.cfg` the value is still the default value:

Contents of `.debops.cfg`:

[code]

Value of hostfile in generated `ansible.cfg`:

[code]

I've found that if I delete line 84 in debops: https://github.com/debops/debops/blob/master/bin/debops#L84 the file gets generated correctly:

[code]

And even ansible w

[2015-08-29 16:37] drybjed commented on #125
After `debops` script generates the `ansible.cfg` configuration file, `ansible` command can be used and has the same functionality that `debops-task` has. I am all in favor of fixing this bug and removing `debops-task`.

[2015-08-29 16:49] dvigueras commented on #125
Great, I'll use ansible command then.

[2015-08-29 16:58] dvigueras commented on #125
`debops` command doesn't work well too, it looks like it's trying to read the old inventory file, instead of the file set in `ansible.cfg`.

I think it could be something related to the function `find_inventorypath`, but I'm not an expert in Python.

[2015-09-19 03:08] devekko opened #126 "Ubuntu Studio Trusty installation fails"
I am running into a mess of Python 3.4 related issues with Ubuntu Studio Trusty when installing debops

had a much better time on mainline Trusty

am thinking of running a VirtualBox of Jessie as a bastion server just to get this thing to run !

cheers

-N

[2015-09-19 03:21] devekko commented on #126
you know what, I hate Vagrant, will do an encrypted proxmox vm instead

[2015-09-19 10:22] drybjed commented on #126
@devekko I don't use Vagrant either, instead I have a normal, separate subnet with `dnsmasq` serving as DNS, DHCP and PXE boot service, and I'm using KVM host for virtual machines, which hold LXC containers. That way I get more permanent setup that is actually on a remote server in a data center, and I connect through it using `tinc` VPN. All is on its own separate subdomain, mail works, I don't e

[2015-09-21 02:28] devekko commented on #126
was thinking of making a bastion debops controller server on Jessie and expect fewer issues

but, can I replicate or backup the debops controller server if its not my laptop?

the main issue on Ubuntu Studio was Python 3.4 .. ConfigParser from memory

it was a late night special I am afraid, will try again from another clean install of Ubuntu Studio

I guess I should get it running from my main la

[2015-09-21 02:31] devekko commented on #126
niccolox@trustyinx:~|⇒  debops-update
Traceback (most recent call last):
  File "/usr/local/bin/debops-update", line 63, in <module>
    from debops import *
  File "/usr/local/lib/python3.4/dist-packages/debops/__init__.py", line 42, in <module>
    from .config import *
  File "/usr/local/lib/python3.4/dist-packages/debops/config.py", line 108
    except ConfigParser.Error, e:

[2015-09-21 02:32] devekko commented on #126
niccolox@trustyinx:~|⇒  sudo -H pip install https://github.com/debops/debops/archive/master.zip
Collecting https://github.com/debops/debops/archive/master.zip
  Downloading https://github.com/debops/debops/archive/master.zip (72kB)
    100% |████████████████████████████████| 73kB 230kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<

[2015-09-21 02:39] devekko commented on #126
I did do a bit of hacking trying to get the ConfigParser references to lower case

but, its not sustainable ...

niccolox@trustyinx:~|⇒  sudo -H pip install --upgrade virtualenv
Requirement already up-to-date: virtualenv in /usr/local/lib/python3.4/dist-packages
niccolox@trustyinx:~|⇒  sudo -H pip install --upgrade pip
Requirement already up-to-date: pip in /usr/local/lib/python3.4/dist-packages/p

[2015-09-21 02:49] devekko commented on #126
https://github.com/debops/debops/blob/6daddec4f73e69fd39c44197b5c9952f1f2cf368/setup.py

so, Ubuntu has both 2.7 and 3.4 of Python running

but, debops uses 2.7

so, I guess I should be finding a way to switch / run the debops-init type commands under 2.7 on Trusty

niccolox@trustyinx:~|⇒   python -V
Python 2.7.6
niccolox@trustyinx:~|⇒   python3 -V
Python 3.4.0

presumably there is a way to do thi

[2015-09-21 02:52] devekko commented on #126
judging from this http://stackoverflow.com/questions/11756777/how-to-change-the-default-version-of-python-in-a-linux-machine-not-just-symlin

its not smart to try to change defaults on python

so, am going to spin up a Vagrant Jessie VM on my laptop and see if I can make this work

the strange thing is I am sure I got this working on mainline Trusty, so, maybe there enough of a difference between

[2015-09-21 03:14] devekko commented on #126
just did an pip uninstall

then

niccolox@trustyinx:~/Projects|⇒  git clone https://github.com/debops/debops
Cloning into 'debops'...
remote: Counting objects: 1142, done.
remote: Total 1142 (delta 0), reused 0 (delta 0), pack-reused 1142
Receiving objects: 100% (1142/1142), 240.27 KiB | 0 bytes/s, done.
Resolving deltas: 100% (652/652), done.
Checking connectivity... done.
niccolox@trustyinx:~/Pr

[2015-09-21 03:24] devekko commented on #126
got passed install from git repo by commenting out redudant line

# release = egg_info sdist register
release = egg_info sdist register upload upload_docs

then, init fails again

niccolox@trustyinx:~/Projects|⇒  debops-init ~/debops-devekko
Traceback (most recent call last):
  File "/usr/local/bin/debops-init", line 38, in <module>
    from debops import *
  File "/usr/local/lib/python3.4/dist-pa

[2015-09-21 03:30] devekko commented on #126
tried this,
sudo apt-get install python3-dev
failed

maybe you can use the Six module, for Python 2 & 3 compatability
http://pythonhosted.org/six/

[2015-09-27 06:15] leviwheatcroft commented on #123
Can confirm pyOpenSSL needs to be updated in this fashion from a clean install of debian 8.1

[2015-10-02 03:49] devekko commented on #126
somehow Ansible is broken

I think I might have stumbled into this bug

https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1308714

which is similar to
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/ansible-project/O3CFSXB_UhM/FzrMPX2oLQAJ

havent reinstalled on a fresh Ubuntu Studio, but did get it working no problem on Trusty

[2015-10-02 07:16] drybjed commented on #126
@devekko You could try building a `.deb` Ansible package from GitHub source using `LANG=C make deb` command, then installing the resulting `.deb` via `dpkg -i`.

DebOps should now work correctly with Ansible v2 (devel), so you can try using this version, although in production I would still use current stable release.

[2015-10-11 21:37] devekko opened #127 "installation on Trusty"
before I bork my re-installed mainline Trusty laptop again

what should I be doing with pip install of debops?

I am a bit confused, because I am not sure the instructions are consistent

in some places sudo is used

on this you indicate use sudo https://github.com/debops/debops

on this, no clue, but I assumed no sudo

niccolox@trustyinx:~/Projects|⇒  pip install debops
Downloading/unpacking debo

[2015-10-11 21:38] devekko commented on #126
am closing this, for this new more general one https://github.com/debops/debops/issues/127

[2015-10-11 21:38] #126 closed

[2015-10-11 21:46] devekko commented on #127
this worked

from github https://raw.githubusercontent.com/debops/debops/master/README.rst

$ sudo pip install https://github.com/debops/debops/archive/master.zip
$ debops-update

  448  sudo pip install https://github.com/debops/debops/archive/master.zip
  449  debops-update

can you update readthedocs Installation Guide, I automatically went their thinking it was a better place to start, but the

[2015-10-11 21:46] #127 closed

[2015-10-14 14:04] ypid opened #128 "Change "his program" to "This Program" in all roles."
The problem from https://github.com/debops/debops-playbooks/pull/198 seems to be present in all roles.

[code]

I would recommend to fix this in using `sed`. #120

[2015-10-14 14:05] drybjed commented on #128
Arrgh. Yeah, I'm gonna do this. :-)

[2015-10-14 14:13] ypid commented on #128
Also note that the version of the GPL is not present. Compare with https://www.gnu.org/licenses/gpl-3.0.de.html (bottom).

[2015-10-22 13:35] Gomez opened #131 "bootstrap-ansible.sh does not work with recent tags (v1.9.4-1)"
I executed it like this:
[code]
The "-1" in the version mixup the deb install, and nothing get installed.

[2015-10-22 15:58] drybjed commented on #131
Will check this issue, thanks.

[2015-10-22 20:06] drybjed commented on #131
@Gomez Script should work now.

[2015-10-23 09:25] Gomez commented on #131
Works thx! (I worked on the solution as well :))

[2015-10-23 09:25] #131 closed

[2015-10-25 17:06] ypid opened #133 "Which .ansigenome.conf is used?"
https://github.com/debops/debops/tree/master/misc/ansigenome/templates contains the templates but I am unable to reproduce the README.md because `ansigenome_info` is in `meta/ansigenome.yml`.

Related to https://github.com/nickjj/ansigenome/issues/23

[2015-10-25 17:13] drybjed commented on #133
Ansible v2 is much more strict on contents of `meta/main.yml` files, that's why I've moved `ansigenome` information to separate files. When I want to generate a README file for a role, I temporarily copy the information back to `meta/main.yml` since `ansigenome` expects the info there.

In `~/.ansigenome.conf` I use [this template](https://github.com/debops/debops/blob/master/misc/ansigenome/templ

[2015-10-25 17:18] ypid commented on #133
Thanks.

I think we should fix this issue in ansigenome don’t you think?

[2015-10-25 17:19] drybjed commented on #133
@ypid Sure. I've asked @nickjj about it, but he thinks there might be some issues with the change. Nick?

[2015-11-19 02:26] thiagotalma commented on #123
@drybjed I had the same problem `no such file or directory`

I discovered it was the lack of git package. You forgot to include it as prerequisites.

[2015-12-01 00:37] umeboshi2 opened #139 "Wrapping ansible, abstracting configuration, and making things even more useful"
This issue is intended to continue the discussion here:  https://github.com/debops/ansible-dnsmasq/pull/20#issuecomment-160771596

I read the [wiki page](https://wiki.debops.org/debops-scripts:start) and liked the idea

The ideas I really liked about the approach of DebOps is the wrapping of ansible, so that it, with only a few system requirements, can be used in a virtualenv, with everything need

[2015-12-01 00:40] umeboshi2 commented on #139
And also, the scripts are modules in the scripts directory of the demosthenes package, using entry_points config for setuptools to make the scripts on build/install.  I never import *.  I am mostly pep8, but not when it compromises ability to either read or edit (whichever takes precedence).  If you like the idea of abstracting the wrapper and using a config file (that can be generated with defaul

[2015-12-01 09:11] drybjed commented on #139
First of all, welcome. :-) I'm all for the idea of making DebOps scripts more modular and more independent from the default playbooks, so perhaps joining our forces will be a better idea in the long run. Your `demosthenes` project might be an interesting take on this. I'm not a Python developer, so I'll defer to my  colleagues for opinion how to integrate your ideas in the project.

Honestly, I ne

[2015-12-01 19:09] umeboshi2 commented on #139
Virtual environments are also good for production.  The main use is that they can be reproduced and run on systems that have only basic python.  They are also great for testing different combinations of requirements.  If you have never used virtualenv's, you  should ```apt-get install virtualenvwrapper``` and try that.  It's a really great tool.  You get used to it, you'll probably want to create

[2015-12-01 22:51] umeboshi2 opened #140 "Consider using requirements.yml and with ansible-galaxy to handle roles"
Newer versions of ansible have a nice requirements format, making the debops-update script more flexible.

I made a function here making use of it: https://github.com/umeboshi2/demosthenes/blob/master/demosthenes/scripts/demos_update.py#L103

A potential downside is that roles in version control are tarballed and extracted, rather than cloned into the roles_path.

I took the time to make a simple

[2015-12-01 23:05] drybjed commented on #140
It might be a good idea to at least support the `.yml` format in addition to the old one, so having them in the repository as a first step is good, thanks.

To be honest after using `debops-update` after all that time I'm still not sure which method is better - downloading and extracting tarballs, or cloning `git` repositories directly. I guess at this point there's very little difference. One adv

[2015-12-01 23:51] umeboshi2 commented on #140
Absolutley agree with the update command over using ansible-galaxy directly.  I set that function up in demos-update to keep the playbook behavior, while getting more flexibility from the roles and using the locally configured roles_path at the same time.  There may be a problem in the future if a ```path:``` option is defined for a role in the requirements file.  I am convinced that it would be b

[2015-12-02 02:03] umeboshi2 commented on #140
There's currently an issue here for ansible-galaxy to track repos: https://github.com/ansible/ansible/issues/12353

[2015-12-02 14:59] drybjed commented on #139
@umeboshi2 As long as we're talking, can you tell me more about why you decided to switch from SaltStack to Ansible? I haven't used SaltStack much, but I have a general idea how it's structured, and I wonder what would motivate a switch to Ansible from it. Would you see yourself using SaltStack for some specific things along with Ansible?

[2015-12-02 19:10] umeboshi2 commented on #139
It's interesting.  When I went looking, I found that this issue just got recent attention:  https://github.com/saltstack/salt/issues/19924.  I can't seem to get GitHub to tell me the issues that I am subscribed to.  There is a big problem with the inability for pillar variables to be able to reference other pillar variables.  The workarounds to deal with this are ugly. This [issue](https://github.

[2015-12-11 08:27] drybjed commented on #141
Did you run `debops-update` command to download all the roles? Presumably, yes since you have the playbook... Is there anything in `~/.local/share/debops/debops-playbooks/roles/`? What OS do you use on your Ansible Controller, Linux, MacOSX, Windows?

[2015-12-11 08:28] ariddell commented on #141
Strange. I started over from a clean virtualenv and the problem is gone! Thanks.

[2015-12-11 08:29] drybjed commented on #141
Ah, `virtualenv`... Haven't got that concept yet. I just use LXC containers instead, easier to understand. :)

[2015-12-15 17:56] sread opened #142 "gen_ansible_cfg in bin/debops disabled"
Unless I'm mistaken, the call to gen_ansible_cfg was accidentally commented out in 96e29e227d1874aae9afb12a57ceb02b20923e17 (#134). Doesn't seem relevant to the rest of the commit and it breaks generating the ansible.cfg file for me.

[2015-12-15 17:57] drybjed commented on #142
Calling @ypid to the scene of the crime...

[2015-12-15 18:15] #142 closed

[2015-12-15 18:19] ypid commented on #142
Damn. I had those lines commented out in my working copy (in lake of a better fix for now because I did/do some stuff in my ansible.cfg). Sorry that that file slipped into the commit … Thanks to @sread for finding and fixing :+1:

[2016-03-21 15:13] drybjed commented on #148
@schreon Hello. Have you seen the [Getting Started Guide](http://docs.debops.org/en/latest/debops-playbooks/docs/guides/getting-started.html)? You might have seen only the guide about the scripts, not the default playbook.

DebOps is designed for production environment in mind. Some of the things like use of SSH keys and firewall are enabled by default, however if you haven't changed anything, the

[2016-03-21 15:38] schreon commented on #148
@drybjed Hi, thanks for the lightning fast reply. Indeed, I did not change anything except adding my host to the `hosts` file. And yes, I have a public key. I also tried to directly reference it using the `ssh -i` option - still, my connection is refused with that `Permission denied (publickey)` error. While running the `debops` command, I had an ssh connection open, which still worked after `debo

[2016-03-21 15:43] drybjed commented on #148
@schreon In that case you need to check the `/var/log/auth.log` on the server to see what might be the issue with `sshd`. You should also check if your SSH key was correctly configured on the admin account.

... Which, now that i think of it, might not have been. How was that VM prepared for you? Did you have an admin account set up with your SSH key? Do you use preseeding or is that something lik

[2016-03-21 17:25] schreon commented on #148
We logged in via a host console. We discovered the following issues:

1. My local username and the remote username differ. However, ansible created a user with the same local username on the remote machine - with a password unknown to me. The password copied from the  `secret/credentials/<host>/console/root/password` file did not work.
2. My previous remote username had not been added to the `admi

[2016-03-21 17:32] drybjed commented on #148
The different roles are configured to what I'm mostly using as defaults, an admin username the same as your local account name, mostly to avoide a static `admin` or `ansible` username and  password authentication disabled by default since I configure new hosts using preseeding with my SSH key added automatically, you can use `debops.bootstrap` for that.

The admin account created by DebOps doesn't

[2016-03-22 07:36] drybjed commented on #148
@schreon BTW, did you make GitLab work?

[2016-03-22 09:34] schreon commented on #148
@drybjed I am still digesting your input and getting used to ansible / debops :) I will report back soon. Thanks a lot!

[2016-03-22 09:35] drybjed commented on #148
@schreon Come over to `#debops` @ FreeNode if you like. We have cookies. :-)

[2016-04-22 10:48] mbajur opened #149 ".debops.cfg not applied to ansible.cfg"
Hello everyone,

i'm trying to use DebOps (for debops-gitlab) for one of my new playbooks. I'm on OSX and i've found an issue ( #117 ) about the problem i'm facing. The issue is the same as in it but i'm not able to use another feature of debops (which is .debops.cfg file) so i decided to open a new issue.

Basically, as mentioned in #117, i should symlink `Application Support/debops` folder as `/

[2016-04-22 13:48] xorgic commented on #149
Hi mbajur.

The Library folder in OS X isn't hidden using the `.` it's hidden using the `chflags hidden` command, so the path you have written doesn't exists on OS X, but `~/Library/` exists. Debops doesn't use the `/etc/debops.cfg` on OS X according to the [Documentation - configuration](http://docs.debops.org/en/latest/debops/docs/configuration.html)

So I would advise you to check the paths and

[2016-04-22 14:17] mbajur commented on #149
Thanks for your reply @xorgic . I wish that was it but that's actually a typo i made - there shouldn't be a dot before `Library`. I was obviously talking about `~/Library/Application Support/debops.cfg`.

According to `/etc/debops.cfg`, i've just done it to make sure i've modified all files possible :) Never believed it's gonna work though

[2016-05-15 09:28] violuke commented on #123
Yes, as @thiagotalma said, this is caused by the `git` package being missing. Thanks.

[2016-06-30 08:08] tallandtree commented on #125
I'm running debops (with ansible-playbook 2.1.0.0, from fedora 21) and it looks like the myproject/.debops.cfg is not being read. If I set file-paths in .debops.cfg,
[code]
```[ "{{ lookup('file', 'sshkeys/mykey.pub') }}" ]``` still does not find the file, but searches in the default location only:

```fatal: [mymachine]: FAILED! => {"failed": true, "msg": "the file_name '/home/myname/.local/share

[2016-06-30 08:09] drybjed commented on #125
You need to use `lookup('file_src', 'sshkey/mykey.pub')` lookup plugin. `file` is the "normal" one.

[2016-06-30 09:32] tallandtree commented on #125
Indeed, when I use file_src, the file is found. But there is a difference between lookup('file_src', 'sshkey/mykey.pub') and lookup('file', '/home/myname/cm-sys-servers/ansible/files/sshkeys/mykey.pub'). The latter reads contents of the file, while the first only reads the path with filename. I get an invalid key specified:

```sshkeys: [ "{{ lookup('file_src', 'sshkeys/mykey.pub') }}" ]```
gives

[2016-06-30 10:20] drybjed commented on #125
No problem. I know what is happening here. The `file` module is used to get the contents of a specified file. The DebOps `file_src` is used to select a specific file from a set of possible paths. It was written for cases like this:
[code]
The main reason being, so that role contents could stay static and be able to be updated via git, and you could still modify what the role does externally via th

[2016-07-05 14:26] vshalts opened #153 "Include fails when done from hooks"
Hi,

I want to split functionality used in hooks into several files (hook called from debops.users). For that I would like to use include from hook.
But it doesn't work this way. I extracted smallest possible example to reproduce problem: https://www.dropbox.com/s/fjc1m2n6qwtkqbs/debops-test.zip?dl=0

Short description (in case it will be problems with download):
Have two playbooks (test_fail, tes

[2016-07-05 14:35] drybjed commented on #153
My first guess would be that it is dependent on the order of variable/task resolution in Ansible. IIRC, before Ansible touches the tasks in any way, all variables are resolved first, including lookups.

In the `test_fail.yml` playbook, the lookup is resolved by Ansible too late, it wants to run all tasks at this point. Not sure what's exactly happening there, you could add a register to that task

[2016-07-05 16:09] vshalts commented on #153
The same issue appear if hook called from debops.users role. It was the first things I tried. This example was my attempt to create simplified version.
Here is updated example that based on roles: https://www.dropbox.com/s/n2z14b0a35i1j77/debops-test_1.zip?dl=0

As I understand it is impossible to call another role from hook, right? So, the only way to split code called in hook that I see is to us

[2016-07-05 16:16] drybjed commented on #153
You're correct, the lookup plugins aren't recursive, so includes present in the included task list won't work. Fixing that would probably require copying at least some code from Ansible that handles include parsing and I think this is outside of the scope of these plugins.

You cannot include other roles using lookup plugins as well, this is meant only for task lists. The `task_src` lookup plugin

[2016-07-05 16:25] vshalts commented on #153
I see. I am not realized that it is possible to "mask" default roles. That solution will work for me too. Probably will need to merge changes from time to time, but it is ok. Thanks!!

[2016-07-05 16:25] #153 closed

[2016-07-05 16:28] drybjed commented on #153
@vshalts Great. One of the core ideas of DebOps is that roles and playbooks are "read-only" to allow updates using `git`, therefore there should always be a way to allow user customization. Using `roles_path` variable to "mask" roles with your own custom ones is one such method of doing that. It's not always perfect, especially when you access things outside of the role itself, so I try not to do

[2016-07-05 16:36] vshalts commented on #153
I'll try my best :) Thanks for suggestion!!

[2016-07-05 20:19] ypid opened #154 "Core Infrastructure Initiative (CII) Best Practices badge"
Refer to: https://twit.tv/shows/floss-weekly/episodes/389 and https://bestpractices.coreinfrastructure.org

I am currently going thought the questions.

Project URL: https://bestpractices.coreinfrastructure.org/projects/237

[2016-07-05 22:33] ypid commented on #154
Status: 59% https://bestpractices.coreinfrastructure.org/projects/237
I intent to finish the setup in the next 24 hours.

@drybjed Just curious. Have you setup [github-backup](https://github.com/joeyh/github-backup) to backup repos and issues? I have played with github-backup and contributed a bit but have not set it up yet.

[2016-07-06 07:54] drybjed commented on #154
@ypid I haven't set up `github-backup` yet, but it might be a good task for the bot. I'll set that up and let you know.

[2016-07-06 07:56] drybjed commented on #154
@ypid BTW, token generation in `debops.pki` could be switched to SHA256 so that we don't have the issue with broken cryptographic algorithms.

[2016-07-06 12:51] ypid commented on #154
@drybjed :smile: Now that there is a incentive :wink: You are encouraged to do that. Choosing MD5 because it is faster was not a very strong argument in the first place.

[2016-07-06 23:12] ypid commented on #154
Seems we are at a solid base of 71% (I have tried to not overestimate it and some criteria still need to be verified).

@drybjed Want to check the Analysis and Future sections which I did go thought right now? I would add the badge this this repo when you are OK with it.

[2016-07-07 06:46] drybjed commented on #154
Looks good. I like it when you implied that configuration management would require STOPPING TIME ITSELF to be reproductible. :-) However, after checking the criteria:

I don't believe that DebOps itself builds any binaries. There were some cases where Debian packages were built *by* DebOps, but each one is isolated and it depends on the package maintainer to ensure reproductible build. I would mar

[2016-07-07 10:31] ypid commented on #154
Thanks for your feedback. I thought about that and stated in the first sentence how I do interpret reproducible builds for the project:

So I don’t think that it is not applicable. Let me explain that a bit more. At work, I use DebOps to build a ownCloud appliance and I am working towards fully automated builds of this VM appliance with DebOps. So I am actually building an image which is later shi

[2016-07-17 09:08] ypid opened #155 "Use SPDX license identifiers"
Ref: https://github.com/ansible/galaxy-issues/issues/169 (not yet approved)

I am already doing this, ref:
- https://github.com/debops/ansible-cryptsetup/blob/master/meta/main.yml
- https://github.com/debops/ansible-apt_cacher_ng/blob/master/meta/main.yml

And Galaxy does not have any problem with it.

[2016-07-17 09:14] drybjed commented on #155
Sounds good. :+1: I'll start to update it in the roles I'm woking on.

[2016-07-20 08:23] ypid opened #156 "Refactor repo and rename to debops-tools."
I propose the name "DebOps Tools" for this repository to avoid misunderstanding what this repo is about. Maybe a new debops/debops repo can be created as a landing page and general issue tracker.

[2016-07-20 08:29] drybjed commented on #156
Sounds goot. This should probably involve @danstender to update the packaging in Debian, as well as changes on PyPI.

[2016-07-31 11:14] hbokh opened #159 "OSX - debops command fails with Ansible from Homebrew"
On Mac OS X, the command `debops` seems to work only when Ansible is installed from pip.
With Ansible installed through Homebrew, this is the error:
[code]

It works when uninstalling from Homebrew and use pip instead, but I wonder, is there any way around this, without installing Ansible from pip?

[2016-07-31 11:16] drybjed commented on #159
I'm not really sure. IIRC, Homebrew and pip environments on MacOS X are separate and cannot be crossed over without messing stuff up. Perhaps any MacOS X users could clarify this?

[2016-08-01 09:44] xorgic commented on #159
Hi hbokh!

Debops and Ansible from Homebrew works fine, the problem is that python on OSX expects the modules to placed in specific folders by default, but you can add to the list of folders that python should look into when trying to resolve modules during the import.

Oh well, less talk more action, place the code below into your bashrc or just execute it before debops command and it will work.

[2016-08-01 18:37] hbokh commented on #159
Thank you @xorgic - that did the trick!
Uninstalled Ansible from pipl reinstalled from Homebrew; set PYTHONPATH; debops works.

Might be handy to put somewhere in your sweet documentation though.

[2016-08-01 18:37] #159 closed

[2016-08-01 18:39] drybjed commented on #159
@xorgic If you want, you could add a file detailing the needed steps on MacOS X in the `debops/debops-tools` repository, in the `docs/` directory.

[2016-08-11 09:26] blinkiz opened #162 "atd_default_allow in atd role does not use bootstrap__admin_name"
Having a bunch of machines with different admin account names that does not have python or anything else installed that ansible need. Am running my first bootstrap without a ansible_user set, specifying on command line '--user' that I know works against just this debian host with --become parameter and --ask-pass.

Am expecting debops bootstrap to use this credentials to setup this host with chose

[2016-08-11 09:29] drybjed commented on #162
This is a common thing in different roles so that the role uses the username of the admin from their workstation. But since it looks like it interferes with the use of different account names, I'll add an admin name variable to the `debops.core` facts so that other roles can use that instead.

And `debops.bootstrap` needs to allow for multiple admin accounts for this to work better, as well.

[2016-08-14 09:50] ypid opened #164 "Check code signatures"
With the [debops-keyring](https://github.com/debops/debops-keyring) and the [DebOps Code Signing Policy](https://docs.debops.org/en/latest/debops-policy/docs/code-signing-policy.html) in place. The DebOps Tools should bootstrap and check signatures using the keyring.

Benefits:

* After initial trust is established on first `debops update` run, GitHub is no longer part of the [TCB](https://en.wiki

[2016-08-20 05:08] jstruebel commented on #116
I am trying to do something similar, but in my case to provide a set of common playbooks based on the debops roles. The issue I'm finding is that all of the roles and plugin paths are determined relative to the playbooks-path. For me this is causing trouble since I still want to use the roles and plugins with the common playbooks.

Specifically I want to create a common set of playbooks to manage

[2016-08-27 17:22] ypid commented on #139
@umeboshi2 Just to clarify your last statement:

You mean "I don't have to worry about this with Ansible." I guess.

[2016-08-28 14:47] umeboshi2 commented on #139
Yes, that's what it's supposed to say.  Sorry about that.

[2016-09-07 13:05] antoineco commented on #117
Same thing happening to me right now on OS X, while I saw no issue on Linux.

--

ansible.cfg
[code]

[code]

--

I call `debops.auth` from a custom playbook like this:
[code]

Playbook execution:
[code]

--
Thanks for the tip @drybjed and @carlalexander, symlinking `/Users/acotten/Library/Application Support/debops/debops-playbooks/playbooks/lookup_plugins` to `/usr/share/ansible/lookup_plugins`

[2016-09-07 14:02] antoineco commented on #117
**edit**: actually changing the `lookup_plugins` parameter does not help.

ansible.cfg
[code]

The error still shows up after copying the DebOps `lookup_plugins` directory to `/tmp`.

[2016-09-08 08:05] htgoebel commented on #117
Please note that the `ansible.cfg` file gets overwritten on every start of a `debops`.

You'll have to add this into `.debos.cfg` like this.
[code]
This will be prepended to the paths debos generates automatically. For more details, please see the manual.

[2016-09-08 08:14] antoineco commented on #117
@htgoebel yes, that's what I did, but on OS X the space in the path doesn't seem to be the issue anymore (I'm using Ansible 2.1.1.0).

I'm suspecting an issue when including DebOps roles in custom playbooks, since `debops -t role::auth` works absolutely fine while `debops custom_playbook -t role::auth` doesn't.

[2016-09-08 11:17] antoineco commented on #117
I can confirm that the playbook location is the issue. Check this out:

playbook in local project tree (`project/ansible/playbooks/`):
[code]

same playbook moved to DebOps tree (`~/.../debops/debops-playbooks/playbooks/`)
[code]

[2016-09-12 10:14] antoineco commented on #117
@htgoebel @drybjed Aha! The issue on OS X is actually caused by the quotes inside the `ansible.cfg` file!

This fails:
`lookup_plugins = "/Users/acotten/git/gini/aco/ansible-playbooks-debops/ansible/lookup_plugins":"/Users/acotten/Library/Application Support/debops/debops-playbooks/playbooks/lookup_plugins":"/usr/share/ansible/lookup_plugins"`

While this works:
`lookup_plugins = /Users/acotten/gi

[2016-09-12 11:09] htgoebel commented on #117
Well, the raw value is taken from .debops.cfg and prepended *uninterpreted* into ansible.cfg.

So I consider this solved.

[2016-09-12 12:16] antoineco commented on #117
@htgoebel my `.debops.cfg` file is completely untouched, which means out-of-the-box all DebOps roles using lookup plugins are broken on OS X.

[2016-10-05 20:10] tklicki opened #172 "debops-update: fails when ansible_managed contains variables"
How to replicate:

1. Put following option into .debops.cfg configuration file which includes "%" characters:

[ansible defaults]
(...)
ansible_managed = ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

2. Run debops-update:

(debops)tklicki@ansible:~/debops$ debops-update
Traceback (most recent call last):
  File "/home/tklicki/.virtualenvs/debops/bin/debops-update", line

[2016-10-21 21:53] ypid opened #173 "Document subcommands"
Depends on: https://github.com/debops/debops-tools/issues/166

Can be done with sphinx-argparse: https://sphinx-argparse.readthedocs.io/en/latest/sample.html

[2016-10-27 00:21] lvnilesh opened #174 "Please enlighten me how to workaround this particular failure I noted"
First time using debops.

I ran `debops` against a target machine 10.0.1.22 in local network and noted this failure. Can you please enlighten me?
[code]

[2016-10-27 00:24] lvnilesh commented on #174
Seems linked to this https://github.com/debops/ansible-pki/blob/8a7fdebe4104d6249c065fb15a7bf36933fd3d8e/files/secret/pki/lib/pki-authority#L111

[2016-10-27 00:25] lvnilesh commented on #174
[code]

[2016-10-27 00:26] lvnilesh commented on #174
My 10.0.1.22 is Ubuntu 16.04 not pure debian.

[2016-10-27 00:38] lvnilesh commented on #174
Strange.
[code]

[2016-10-27 00:44] lvnilesh commented on #174
Here is the play recap:

[code]

[2016-10-27 06:42] drybjed commented on #174
On Ansible Controller, you need at least `bash` 4.x for the `debops.pki` role to work correctly.

[2016-10-27 08:24] ypid commented on #174
@drybjed Would it make sense to include a check for the Bash version also on the Ansible controller so that this becomes a little bit easier to debug?

[2016-10-27 08:29] drybjed commented on #174
@ypid I thought about the same thing. Perhaps the `pki-authority` script could check the `bash` version and exit early with an error message that explains what the issue is.

[2016-10-27 08:54] ypid commented on #174
Sounds good.

[2016-10-27 22:20] lvnilesh commented on #174
I am using
[code]

[2016-10-28 06:04] drybjed commented on #174
@lvnilesh This doesn't really matter in the context of a script interpreter, which woul be `/bin/bash`. Check your Bash version, mine is:
[code]

[2016-10-29 05:24] lvnilesh commented on #174
[code]

[2016-11-03 00:48] SatWiz commented on #117
using: zsh 5.2, ansible 2.1.2.0
@antoineco how do I get rid of the quotes for lookup_plugins in the ansible.cfg file while it is overwritten during runtime?

[2016-11-03 06:48] antoineco commented on #117
@SatWiz you have to

1. Copy the value of the auto-generated `lookup_plugings` setting in the project's `ansible.cfg` file
2. Remove all the quotes from it
3. Add the value without the quotes to the project's `.debops.cfg` file
4. Let DebOps regenerate the `ansible.cfg` file

This works well as long as you're the only user executing the playbooks. If not it might get trickier to manage because the

[2016-11-03 19:37] SatWiz commented on #117
Thanks @antoineco for your explanations but it did not work out for me. At the end my ansible.cfg files is back again quoted with all of .debops.cf added in front of the variables.
Are you using a particular options to generate?

A bit strange is than some variables are generated without quotes like hostfile, roles_path and library.

[2016-11-03 20:45] htgoebel commented on #117
The quotes are added for ansible >= 1.7 since fe6119373 "Add work-around for ansible's buggy handling of paths containing spaces."

[2016-11-03 20:52] antoineco commented on #117
@SatWiz I actually edited my `ansible.cfg` manually and stopped using the DebOps wrapper altogether as a workaround.

I have a feeling this issue is specific to the Zshell though (which I am also using) but I can't confirm right now. Have you tried from a Bash shell?

[2016-11-03 21:16] SatWiz commented on #117
@antoineco, bash is having the same issue.
`TASK [debops.postfix : DebOps pre_tasks hook] **********************************
fatal: [smtp]: FAILED! => {"failed": true, "msg": "lookup plugin (task_src) not found"}`

@htgoebel it works for me without complaining about the plugin when reverting the changes in fe61193.
But now other issue occurs, maybe it is my custom playbook. Need to dig further.

`

[2016-11-03 21:43] SatWiz commented on #117
@htgoebel is there a simple test to check the plugins is loaded correctly?

[2016-11-15 07:32] drybjed commented on #176
Do you mean DebOps being used on Windows to manage Linux hosts? Or DebOps being used to manage Windows?

For the first case, I know that some people tried to do it, with varying success. I think that CygWin was involved, or you can use a VM to run Ansible inside.

For the second case, GNU/Windows exists, which is based on Ubuntu, which is supported by DebOps to some extent. How much of that enviro

[2016-11-15 08:09] ypid commented on #176
I don’t feel the urge to try out either of them :wink:

Yes, that is what I meant. What DebOps targets itself is well defined (Debian or Debian derivatives). I think it should be mentioned that Windows is not officially supported then and link to workarounds or so if there are as I am not confinced that it would be ideal to have a wiki entry about DebOps which says that Windows as a platform for t

[2016-11-15 08:11] drybjed commented on #176
Sure, I suppose that we can remove that part of the documentation, unless somebody shows up and tell use that it actually works. ;-)

[2016-11-19 13:01] SatWiz commented on #117
runs smoothly with osx now by reinstall ansible with pip install ansible.
First clear previous version installed with brew

[2016-12-08 17:14] diarmaid-mcmanus commented on #148
I had a similar issue when using Vagrant and debops. The solution (thanks to drybjed) was to add the following variables:

users__accounts:
  - name: 'vagrant'
    groups: 'admins'

I'm adding this here, as this is the first result on Google, and it might help someone in the future!

[2016-12-11 13:51] ypid opened #180 "Update http://debops.org/ to https://debops.org/ in repo description"
Ref: https://github.com/debops/debops-tools

[2017-01-09 11:56] drybjed commented on #182
Good idea. The paths to tasks and files could be added and commented out as well.

[2017-01-27 21:07] drybjed commented on #184
@timitos, do you know if there's a related Debian Bug about this? I don't see any related bugs on the [encfs Debian bug page](https://bugs.debian.org/cgi-bin/pkgreport.cgi?archive=0;dist=unstable;ordering=normal;repeatmerged=0;src=encfs), perhaps it would be useful to report it?

[2017-02-08 07:16] antofthy commented on #184
Okay as the file is /tmp/ks_lij9g9 it means you are probably using the "Key Storage" wrapper I developed.

This is what broke because encryptfs (actually the tinyxml library) can not read from a named pipe (device).  I have updated that script to use a plain test file (with heavy comment as to why!)
Arrrggghhhhh...

If you download the updated version of the "ks" script at...
  http://www.ict.grif

[2017-02-17 10:25] muelli commented on #148
FTR: There is https://github.com/debops/ansible-sshd/issues/53 which probably fixed issues related locking out the ansible user.

[2017-02-20 04:08] geerlingguy commented on #120
Note that the `{{ ansible_managed }}` string is now static by default—see https://github.com/ansible/ansible/pull/18094/files.

[2017-03-06 00:44] arbitrix opened #187 "Raspbian detected as Debian"
DebOps sets `core__distribution` to Debian instead of Raspbian when run on Raspbian. This causes debops.common to fail because of an incorrect `/etc/apt/sources.list`.

On today's Raspbian `ansible_lsb.id="Raspbian"` but `ansible_distribution="Debian"`.

On Ubuntu 16.04 `ansible_lsb.id="Ubuntu"` and `ansible_distribution="Ubuntu"`.

DebOps prefers  `ansible_distribution` over `ansible_lsb.id` as p

[2017-03-08 12:15] drybjed commented on #187
Since this issue is propping up pretty consistently, I'll reoder the values to have `ansible_lsb.id` tried as the first one. It shouldn't affect other platforms supported by the project (Debian, Ubuntu).

[2017-03-10 17:24] #187 closed

[2017-03-12 17:59] arbitrix commented on #187
Thank you.

[2017-03-12 18:00] drybjed commented on #187
@arbitrix Does it work as expected now? I don't have a Raspbian to test it with...

[2017-03-12 18:03] arbitrix commented on #187
@drybjed I will bootstrap one and report back.

[2017-04-11 12:20] johbo commented on #184
Did look into this issue, going to try a solution, since we'd like to use the padlock mechanism.

It seems to me that there are two good options available when looking from the debops perspective:

1. Create a patch for EncFS, so that it reads the configuration data into memory and then uses `XMLDocument->Parse()` instead of `XMLDocument->Load()`. This way the issue with tinyxml2 would be avoided.

[2017-04-11 12:26] drybjed commented on #184
I think that updating EncFS to support piping is the way to go in the long run, but this means that the Debian/Ubuntu packages won't be updated until the next release, when changes from upstream make their way into the distribution sources. So perhaps doing both things at once, so that `debops-padlock` can work in the meantime could be the best solution?

[2017-04-11 20:41] johbo commented on #184
Started a tweak to encfs in this PR: https://github.com/vgough/encfs/pull/319

[2017-04-14 03:52] cyrrill commented on #148
I just launched a fresh install of Ubuntu 16.04 from AWS EC2 and experienced the same issue.

@drybjed  having the user locked out of their machine is an unfortunate first step to get when running this program. It would be of great value if you could ensure sane defaults were set so that users weren't locked out with the default setup.  If bootstrap needs to be run to ensure there is no lockout, w

[2017-04-14 06:53] drybjed commented on #148
@cyrrill Recently the `debops.core` role had some changes that should have helped with the issue of an admin account not being present in the `admins` group. I suppose that it didn't work in your case for some reason. If you want, we could have an interactive session (most likely after holidays) to debug this further. It's hard to pinpoint the specific issue.

What "sane defaults" would like to se

[2017-04-14 07:02] cyrrill commented on #148
@drybjed Thanks for your outstanding work here, I forgot to mention that in the previous post.

The note in that page also notes:

Which actually applies in my case. AWS EC2 by default creates an instance where the "ubuntu" user can use passwordless sudo. You also already have SSH access by means of *.pem keys.

It wasn't clear to me that debops would alter my original account, or that there would

[2017-04-14 07:07] cyrrill commented on #148
Would be just so much simpler if this could happen by itself when needed.

Is there some programmatic way to determine if said bootstrapping has already occurred? Perhaps by testing the user groups?

Or is it possible to just make the bootstrap idempotent, so it doesn't affect it if run again?

[2017-04-14 07:20] drybjed commented on #148
The above mention about `debops.bootstrap` only needed if you don't already have `sudo` access should be expanded upon in this case. I'll see what I can do.

I think that the variables above were needed before the `debops.core` handled the admin accounts in a more sane way. You could try and comment them out, and test on a new VPS to see if the current roles still have the problems that plagued th

[2017-04-14 07:31] cyrrill commented on #148
I think this should actually be disallowed? Some OS have this turned off in sshd config by default.

Not really, they just give you a choice of stock OS options, hardware +/- on CPU/RAM/Disk, firewall, etc.. but nothing really on the user side. All you get is the default "ubuntu" user with passwordless sudo, and root login disabled.

I could use some other tool to prepare the server, but I was hop

[2017-04-14 07:39] drybjed commented on #148
As I said previously, at the moment DebOps should detect the correct admin account to which you are connecting and add it to the `admins` group.

In the AWS EC2 case, the `debops.bootstrap` role is a go-to role to prepare the host, so you should run it each time a new host is deployed.  The role [tries its best to detect the admin account](https://github.com/debops/ansible-bootstrap/blob/master/de

[2017-04-14 07:43] cyrrill commented on #148
@drybjed, I haven't reviewed the source enough to make exact sense as to how debops is handling the specifics of this, maybe once I spend some time I can make a more useful suggestion.
If you could make Ubuntu work out of the box in AWS, that would be awesome if it could all stay in debops original repo. I've had to make a private fork to include these changes in my project for now.

[2017-04-14 07:44] drybjed commented on #148
@cyrrill Publish the repository, and I'll see what can be done. :-)

[2017-04-14 07:47] cyrrill commented on #148
For now it contains some proprietary work stuff I haven't prepared for publishing publicly, however those changes are not relevant to this ticket; in terms of avoiding lockout, the vars in:  https://github.com/debops/debops-tools/issues/148#issuecomment-294103771 are pretty much what fixed it (albeit I don't know which one yet ;) )

[2017-04-14 07:48] drybjed commented on #148
You should be able to just leave `ansible_ssh_user` and remove the others, then after running `debops.bootstrap` role check if the `ubuntu` user is in the `admins` UNIX group. If it's there, you should be good to go.

[2017-04-14 07:49] cyrrill commented on #148
Once I make some progress in my work, I'll spend some time launching another instance to test. I'll report back.

[2017-04-14 07:51] cyrrill commented on #148
Oh, and maybe could be useful to add the bootstrap note to the Installation guide of this repo. It's actually the one I initially used. Didn't read the fuller (and very complete) docs until I ran into problems.

https://github.com/debops/debops-tools#installation

[2017-04-14 07:52] drybjed commented on #148
I'm working on cleaning up `debops-tools` repository (long overdue) and I'll remove the outdated guides in the process.

[2017-04-18 04:41] cyrrill commented on #148
Had some more time today to run a test. Adding only `ansible_ssh_user` solves the issue of not being locked out.

Found that I don't even have to run the bootstrap.  Was able to provision via the `ec2_` ansible module, and then call `debops` directly.

I think we can close this issue?

[2017-04-18 07:24] cyrrill commented on #148
Caveat lector:

https://docs.ansible.com/ansible/playbooks_variables.html

[2017-06-01 01:11] antofthy commented on #184
That is now in the encfs code.  And is waiting for the next release of encfs (next one after encfs v1.9.1)
TinyXML the source of the problem, has refused to update, removing its unwarranted use of fseek() (to find the length of the XML file for pre-allocation) dispite an alternative (getdelim()) being commonly available.

[2017-06-19 05:59] drybjed commented on #48
There are Vagrant setups available in https://github.com/ganto/ansible-vagrant_debops. I'm closing this issue, if there are still questions about Vagrant setup, let me know.

[2017-06-19 05:59] #48 closed

[2017-06-19 07:03] drybjed commented on #105
I'm closing this issue due to inactivity.

[2017-06-19 07:03] #105 closed

[2017-06-20 03:21] NickVolynkin commented on #117
Fixed by reinstalling ansible with pip as @SatWiz suggested *and* adding this to `ansible.cfg`:

[code]

[2017-06-20 04:17] NickVolynkin commented on #117
@drybjed looks like some roles depend on the task_src plugin but do not list it as a dependency. For example, running [ansible-nginx](https://github.com/debops/ansible-nginx) requires installing the full debops package.

It seams reasonable to me to explicitly state this dependency. Also, is there a way to obtain the lookup plugins without installing debops?

[2017-06-20 05:58] drybjed commented on #117
The lookup plugins can be found in the `debops-playbooks` repository, [here](https://github.com/debops/debops-playbooks/tree/master/playbooks/lookup_plugins).

I suppose that this could be explained briefly in the documentation of each role that uses the custom lookups.

[2017-06-20 06:27] NickVolynkin commented on #117
@drybjed thanks, I see it now. What is the right way to install `debops-playbooks` without the whole `debops` package?

[2017-06-20 06:29] drybjed commented on #117
You could just clone it somewhere, it's just a `git` repository. The `debops` scripts expect it in a specific location in a filesystem, but if you don't plan to use them you can put it wherever you want.

[2017-07-07 11:14] drybjed commented on #191
This was added in https://github.com/debops/debops-tools/pull/168 PR, however it's not yet released on PyPI. Did you install `debops` using `pip`?

I guess it's time to make a new release soon.

[2017-07-07 12:31] abraxxa commented on #191
Yes, using `pip install debops` as documented.
I'd suggest closing this bug report when the next version including the argument is released.
Thanks!

[2017-07-24 08:23] chibacityblues opened #193 "Debops inserts faulty Ansible ppa sources into sources.list"
When I ran debops on a clean Ubuntu Server 16.04 the playbook stopped at
`TASK [debops.apt : Update APT cache]`
`fatal: [node6.de]: FAILED! => {"changed": false, "failed": true, "msg": "Failed to update apt cache."}`

Running `apt update` manually shows the faulty entries:

`Err:15 http://ppa.launchpad.net/ansible/ansible/ubuntu xenial-updates Release
  404  Not Found`
`Err:16 http://ppa.launchpad

[2017-07-24 08:30] chibacityblues commented on #193
My bad, wrong repo. Closing here.

[2017-07-24 08:30] #193 closed

[2017-08-04 13:29] maaxxicarvalho opened #194 "ERROR! Unexpected Exception: invalid syntax (profile_tasks.py, line 68)"
Hi,

I just started using the debops-tools and I'm getting this error after running the command `debops`

[code]

I'm using Macos as Ansible Controller

Here's details about my Ansible version:

[code]

Thanks.

[2017-08-26 11:13] drybjed opened #2 "Design the GitLab CI test infrastructure using LXC"
GitLab CI can be used with Docker to test roles and playbooks, but Docker containers are very limited since there's no real service management. LXC containers seem to be better suited to test DebOps environments, since they can behave like normal hosts with multiple services, an init system, etc.

There's an existing GitLab Runner [LXC executor proposal](https://gitlab.com/gitlab-org/gitlab-ci-mul

[2017-09-01 14:30] markgraf opened #195 "Broken Link for "Getting Started Guide""
The link to the "Getting Started Guide" (https://docs.debops.org/en/latest/debops/docs/getting-started.html) is broken: "Sorry, this page does not exist yet"

I guess the link should point to...

https://docs.debops.org/en/latest/debops-playbooks/docs/guides/getting-started.html

instead?

[2017-09-01 18:27] drybjed commented on #195
Yes, you're correct. Do you want to create a PR that fixes this?

[2017-09-01 21:18] markgraf commented on #195
Done :-)

[2017-10-30 09:42] jankowa opened #198 "wrong pathes for lookup_plugins in ansible.cfg"
Hi all,
for me after generating the ansible.conf through debops the pathes generated for several plugins  are wrong.

[code]
But the lookup plugin e.g. are in:

`/home/user/.local/share/debops/debops/ansible/playbooks/playbooks/lookup_plugins`

What's going wrong?

[2017-10-30 20:57] drybjed commented on #198
Hello,

It seems that you updated that `debops` scripts from PyPI to `v0.6.0` version? I recently merged the DebOps playbooks, roles and scripts into a single repository, [`debops/debops`](https://github.com/debops/debops/). To make use of that repository easier, I updated the `debops-tools` repository and the application on PyPI to install and use the new "monorepo" style repository. The old vers

[2017-10-31 13:41] pniederlag opened #14 "debops.php5 and debops.mysql roles required but missing"
Hi,

today I executed

    pip install --upgrade debops && debops-upgrade

afterwards running debops I ran into missing the two roles 'debops.php5' and 'debops.mysql'. After I added the missing roles into my local debops repository via ansible galaxy everything went smooth again.

[2017-10-31 23:18] jankowa commented on #198
Hi, thanks for answer.

Unfortunately updating debops with debops-update (and before cleaning .local/share/debops) doesn't solve the issue for me. Its also the same on a fresh new pip install.

The wrong path is not the double debops/debops. But my lookup_plugins are under

`.local/share/debops/debops/ansible/playbooks/playbooks/lookup_plugins`

but the generated path is

[`.local/share/debops/deb

[2017-11-03 07:47] drybjed commented on #198
OK, I see the issue now. I thought that Ansible would be clever enough to include the `*_plugins/` in the playbook directory in addition to the directories specified in the configuration, but I was mistaken. I'll release the new version of the `debops-tools` ASAP to fix that issue. Thanks for he bug report.

[2017-11-03 10:18] drybjed commented on #198
This issue should be solved by https://github.com/debops/debops/pull/18. I released the `v0.6.1` version of `debops-tools` on PyPI, @jankowa can you upgrade your installation and check if everything works as expected?

[2017-11-03 12:36] jankowa commented on #198
Perfectly. It's working now for me.
Thanks a lot for for quick fix.

[2017-11-05 22:15] jankowa opened #28 "debops.console remounting of /proc fails on lxc-container"
If the target host is an lxc-host the common playbook fails on the role debops.console. Remounting of /proc with "hidepid" option fails with read-only filesystem error.

The solution could be - as far as I understand - to check for lxc and either don't apply the hidepid option - or don't remount the /proc. For the latter we would wait for restarting lxc.

I don't know much about ansible but I thin

[2017-11-05 22:37] jankowa opened #29 "debops.sysctrl failes because applying kernel parameters doesn't work"
Applying debops.sysctrl fails on lxc-hosts (on debian stretch) because the role tries to apply the kernel parameter for shared memory:

[code]

This fails because of:
[code]
We could disable either the shared memory configuration or avoid to apply the kernel parameters during runtime. Does this make sense?

[code]

[2017-11-09 12:41] jinnko opened #31 "debops.cryptsetup uses `dd` option that is unsupported on macos"
I'm using debops.cryptsetup from a macos controller and have found that the [command to generate the encryption key](https://github.com/debops/ansible-cryptsetup/blob/master/tasks/manage_devices.yml#L37) on the ansible controller makes use of the `dd` option `iflag=fullblock`.  This option isn't available to the default macos version of `dd`.

I can think of three ways to address this:

1. Remove

[2017-11-15 13:27] drybjed opened #47 "Offer only TLSv1.2 encryption protocol by default"
The TLSv1.2 protocol is the preferred encryption method in 2017 and it should be the default where possible. However, some older clients might still need to use older protocols (TLSv1, TLSv1.1) for various reasons.

To make management of offered protocols easier, the `debops.pki` role should set up an Ansible local fact with list of enabled encryption protocols, by default only TLSv1.2. Then, othe

[2017-11-28 00:17] evilham opened #70 "debops.dovecot: Add support for "iterate_query""
Very simple PR incoming supporting this:
https://wiki2.dovecot.org/AuthDatabase/SQL#User_iteration

I just read about the GPG signed commits which is a very good idea, will set it up for future PRs.

[2017-11-28 08:22] #70 closed, assigned to nobody

[2017-11-30 08:42] pbauer commented on #117
I ran into the same issue and I fixed it by setting `data-home` in my projects `.debops.cfg` as described in https://docs.debops.org/en/latest/debops-tools/docs/configuration.html#the-paths-section:

[code]

Now  `debops-update` installs the monorepo there and everything is fine.

[2017-11-30 11:42] drybjed opened #74 "Split 'debops.nginx' role into frontend and backend roles"
At present, the `debops.nginx` role is used in multiple application playbooks (ownCloud/Nextcloud, phpIPAM, phpMyAdmin, NetBox, GitLab and more). The way it's used forces the application servers to be installed and running on the same host as the `nginx` server. Separating the webserver and application server into two hosts, to for example set up multiple backend intances behind one `nginx` centra

[2018-01-15 20:31] luken commented on #200
$ cat /tmp/debops_ansible_version_path_handling.patch
[code]

[2018-01-15 21:00] drybjed commented on #200
Thanks for the bug report! Unfortunately I don't have a macOS host handy to test this... Could you check if your fix works with the version currently present in the [`debops/debops`](https://github.com/debops/debops/) repository?

If not, that's fine - I can apply the fix and it will probably work. I plan to release a new version with Python 3 support in a few days.

[2018-01-15 21:09] luken commented on #200
Is this good enough of a test?

$ PYTHON_PATH=../debops/lib/debops-tools/debops ;  rm ansible.cfg &&  ../debops/lib/debops-tools/bin/debops -l ans.ap

It still generates the same ansible.cfg with the extra quote characters that ansible chokes on.

[2018-01-15 21:10] drybjed commented on #200
And it works fine with your fix?

[2018-01-15 21:26] luken commented on #200
Testing...

$ patch < /tmp/debops_ansible_version_path_handling.patch
patching file debops
Hunk #1 succeeded at 119 (offset 13 lines).

With patched version run with same command above.
* Verified not extra quotes in paths
* Verified 'debops -l testhost' completed

Also, the python path above was likely not right.  Re-ran both cases with PYTHON_PATH=../debops/lib/debops-tools

Same results, unpatc

[2018-01-15 21:54] drybjed commented on #200
@luken Thanks for checking this. In that case I'm gonna apply your patch, it should be fixed in the next release.

[2018-02-05 13:16] jwaibel opened #141 "initial debops site deploy fails on some VPS services with IPv6 enabled"
ferm fails to start on some ipv6 enabled vps on various vps providers.

/var/log/syslog shows:
Starting Firewall: fermip6tables: Protocol wrong type for socket.

On the involved system i had to install a more recent kernel to get this problem solved.

[2018-02-05 17:10] drybjed commented on #141
This could be handled with conditionally enabling and disabling [the `ipv6` domain in `debops.ferm`](https://github.com/debops/debops/blob/master/ansible/roles/debops.ferm/defaults/main.yml#L50-L61), after kernel update and reboot the role would just reconfigure the firewall with IPv6 enabled. I'm not sure what would be the good test for that though, presence/absence of `ansible_all_ipv6_addresses

[2018-02-06 11:14] drybjed commented on #125
This should be fixed by https://github.com/debops/debops/pull/142.

[2018-02-07 14:59] drybjed commented on #1
The DebOps monorepo has a well defined directory structure now, therefore I'm closing this issue as resolved.

[2018-02-07 18:17] hohmanjl opened #148 "debops.docker fails at Configure Docker systemd options"
`debops.docker` role fails at task Configure Docker systemd options.

[code]

When I look at host-01 `/etc/resolv.conf` there is no search field.

[code]

How can I get the search field in the `resolv.conf`? I tried adding var `dns_search: mydomain.com` to `main.yml`, but `resolv.conf` still doesn't have the search field. I also tried adding `ansible_dns.search` to `main.yml` but that also did not

[2018-02-07 18:22] drybjed commented on #148
This is usually done either via `/etc/network/interfaces` where you can specify `dns-search` parameter for a given interface, or by configuring a DHCP server to advertise a search domain.

I guess that I hadn't considered that there might be environment without a search domain defined, role will need to have that accounted for and optional in this case. Thanks for the bug report. :-)

[2018-02-07 18:46] hohmanjl commented on #148
Right now what I've done is specify the `docker__dns_search` value in `inventory/group_vars/docker.yml`. That seems to be a valid workaround.

Is there a correct way to configure `dns_search` in DebOps? Either via variable or role?

Thank you!

[2018-02-07 18:48] drybjed commented on #148
It depends on your environment. Do you control your DHCP server? If yes, then you need to configure the `search` parameter there. If not, you can use `debops.ifupdown` to reconfigure network interfaces and specify the `dns_search` parameter.

[2018-02-07 19:20] hohmanjl commented on #148
I'm using a VPS (static IP) so I don't control/use the DHCP server. I'll look into using `depops.ifupdown` to configure the search parameter.

[2018-02-08 09:51] gazoo4 opened #150 "ifupdown apply handler problem"
Hello,

while testing out the tinc playbook which requires ifupdown underneath I came across the following issue which I can't seem to be able to get my head around and I suspect this is a bug in the handler script.

My testing environment is Ubuntu 16.04.3 (laravel/homestead) on the nodes built by Vagrant (see the attached Vagrantfile in case you want to reconstruct it).

The aim is to create mes

[2018-02-08 10:15] drybjed commented on #150
Hello, thanks for the bug report.

In the provided configuration, I can see that you se some of the `debops.ifupdown` variables that are no longer used, for example `ifupdown_interfaces` (note the single underscore, not double). You should check if the variables you are using are correct.

It looks like `debops.ifupdown` tries to reconfigure the Ethernet interface it found using `ifupdown__etherne

[2018-02-08 11:15] gazoo4 commented on #150
Thank you for your quick reply.

Even when disabling the `ifupdown__ethernet_interfaces` I still see `br(0|1)` and `eth(0|1)` coming up among the `ifupdown__combined_interfaces`. Would you have any other idea what else to check? I understand that `eth0|1` are existing interfaces on the node and could be looked-up, but what surprised me was to see the bridge interfaces appearing.

[2018-02-08 11:58] drybjed commented on #150
The lookup uses the `ifupdown__default_interfaces` variable, perhaps if you mask this one the `eth` and `br `interfaces won't show up.

BTW, what happens if you don't configure the Tinc interface and use the default `debops.ifupdown` configuration - does the role reconfigure the interfaces to be bridges, or the same issues show up?

Since you are doing this in Vagrant, check if perhaps the `system

[2018-02-08 13:25] gazoo4 commented on #150
Thanks for leading me in the right direction. To sum up - in order to make the handler working we need to mask both:
[code]

Perhaps it would make sense to make it explicit in the [tinc documentation](https://docs.debops.org/en/latest/ansible/roles/debops.tinc/getting-started.html#example-inventory).

[2018-02-08 13:28] drybjed commented on #150
Sounds good. However I designed `debops.tinc` to be used with `debops.ifupdown` that configures the bridges, etc., basically it's a normal environment for that role. It is you that tried to mess with the defaults by only configuring Tinc interface and leaving the rest. :-)

Want to add a section about disabling the `debops.ifupdown` config this way via a PR?

[2018-02-08 14:28] gazoo4 commented on #150
You tell me - if you see my use-case as being outside of the target scope for this playbook then I don't think we should update it. Otherwise I can of course.

[2018-02-08 14:35] drybjed commented on #150
I don't use DebOps roles as standalone, however many other users do. Having tips for them in the documentation about using the roles in a different way is fine with me, that's why the documentation is there in the first place. You can create a PR for it, just mark this as a specific use case where you don't want to modify existing network configuration.

BTW, did it all work as expected? The `debo

[2018-02-08 15:31] gazoo4 commented on #150
Will do so.

The handler problem has been fixed by the masking. However the VPN is not yet working. The nodes can't see each other even despite the fact that the configuration in `/etc/tinc/*` looks correct from the first glance.

[2018-02-08 16:27] drybjed commented on #150
Maybe the `debops.ferm` role needs to have forwarding enabled? Try setting `ferm__forward` to `True` and reconfiguring `ferm`.

Firewall forwarding is currently very awkward to configure and it probably needs to be moved to a separate role that uses `debops.ferm` as a dependency. Then, roles that require forwarding can pull that new role as a dependency along with `debops.ferm` and there's no need

[2018-02-08 18:00] gazoo4 commented on #150
Thank you for the hint. I did try that and it didn't have a positive effect. I don't think a packet forwarding should make a difference in this setup as I'm trying to establish a connection between 2 (or 3) nodes in the TINC VPN and whether they act as a router or not should make no difference as they are directly connected between each other.

But looking into the TINC logs when starting it in th

[2018-02-08 18:31] drybjed commented on #150
TCPwrappers shouldn't affect Tinc, but maybe `iptables` is not properly configured? I don't see `debops.ferm` in the list of roles you claim to use, and [it is used in the `debops.tinc` playbook](https://github.com/debops/debops/blob/master/ansible/playbooks/service/tinc-plain.yml#L28-L30).

[2018-02-09 07:24] gazoo4 commented on #150
Thanks for your reply.

Naturally I've addded the relevant roles and the variable switch:

[code]
and then:
`ferm__forward: True`

Thank you. Let me know if the complete project attached would help.

[2018-02-09 07:27] drybjed commented on #150
@gazoo4 OK, so did that help? Can the Tinc nodes connect to each other now?

[2018-02-09 07:30] gazoo4 commented on #150
Unfortunately no. The VPN is not coming up. I'll continue debugging the situation and I'll share what I find. Feel free to let me know if any other idea comes up to your mind.

[2018-02-09 10:51] gazoo4 commented on #150
Problem solved. The tinc configuration was missing an explicit setting of: `connect_to: '{{ play_hosts }}'`. The [docs](https://docs.debops.org/en/latest/ansible/roles/debops.tinc/defaults-detailed.html) say:

but my nodes were defined as `inet: 'static'` so no default value was applied.

This works well both with and without the `debops.ferm` role. If you agree, I'll send over a PR as a result of

[2018-02-09 10:54] drybjed commented on #150
Sure, you can send PRs. Show me what you got. :-)

[2018-02-09 12:48] gazoo4 commented on #150
I spoke too soon. After the reboot the nodes come up with no IPs on `eth(0|1)` interfaces. On the VPN interface (in my case `tun0`) the IP is configured properly after the reboot.

Indeed it comes back to your earlier comment:

The config in `/etc/network/interfaces*` is erased and hence the interfaces come up plain after the reboot. Do you think this is something that could be corrected with a re

[2018-02-09 12:54] drybjed commented on #150
Yes, the tasks that mess with the `/etc/network/interfaces` file could be made conditional, with a boolean variable that enables/disables them conditionally. Then the condition could check if `ifupdown__default_interfaces` and `ifupdown__ethernet_interfaces` are empty and disable the `/etc/network/interfaces` reconfiguration. At least, that's how I'd do it.

Alternatively, you don't need to use th

[2018-02-14 18:40] drybjed opened #165 "Create a 'debops.baseline' role"
Different VPS providers offer Debian or Ubuntu base images as a starting point. Access to them is usually handled by the `debops.bootstrap` role which can set up an admin account, `sudo` access, etc.

One issue some of the VPS-provided images have is different initial services installed on the new VM. Usually this is NFS support (`rpcbind`) or some other services. Between the `debops.bootstrap` ro

[2018-02-14 18:43] drybjed commented on #14
There are no issues with missing roles anymore, therefore I'm closing this thread.

[2018-02-14 18:43] #14 closed, assigned to nobody

[2018-02-14 18:45] drybjed commented on #28
The hidepid functionality has been moved to a separate role, `debops.proc_hidepid` which should allow easy control over this feature. By default this functionality should be disabled inside an LXC container. I'm closing this thread as resolved.

[2018-02-14 18:45] #28 closed, assigned to nobody

[2018-02-14 18:48] drybjed commented on #125
I'm closing this thread as resolved.

[2018-02-17 22:31] drybjed opened #166 "Make Python 3-only host environment a viable option"
At the moment many DebOps roles install `python*` APT packages as needed - that is, Python 2.7 environment is used by default. However I suspect that an environment based solely on Python 3 should be possible - no Python 2.7 APT packages installed, usage of Py3 `virtualenv` when needed, etc.

In case that this isn't yet possible, there should be some local facts that define the default Python envi

[2018-02-19 17:31] ypid commented on #31
@jinnko Any updates?

[2018-02-20 08:15] stefangweichinger opened #169 "debops.postfix should install libsasl2-modules when using smtp_sasl_auth_enable"
postfix: ['client']

should also install libsasl2-modules in a way.

Currently I can't find a way to configure debops.postfix so that the sasl-modules get installed, a grep in the debops-roles shows that only debops.saslauthd installs these modules.

IMO a postfix server with an upstream relayhost shouldn't need a local saslauthd.

Right now I define it within:

postfix__maincf:
   - smtp_sasl_aut

[2018-02-20 08:21] drybjed commented on #169
I think that the good place to put the SMTP client configuration would be in the `debops.postconf` role which currently handles SMTP server auth; this could be enabled via a capability defined in `postconf__capabilities`. I'll look at it when I have a bit more time on my hands. Thanks for reporting the issue.

[2018-02-20 08:33] stefangweichinger opened #170 "debops.postfix: example for a group-related secret"
I try to set use a specific sasl-sender user/pw via a postfix-lookup-table as you suggested.

It would be great to add an example to:

https://docs.debops.org/en/latest/ansible/roles/debops.postfix/defaults-detailed.html#postfix-lookup-tables

which shows how to use a file lookup with such a table that reads in a commonly used secret (= file within ansible/secret containing that password).

[2018-02-20 08:36] stefangweichinger commented on #169
postconf currently does not provide that as far as I see/grep ;-)
looking forward, thanks

[2018-02-20 11:05] jinnko commented on #31
@ypid not yet - planning to have a look at this again in the next couple of weeks.

[2018-02-20 13:27] stefangweichinger commented on #170
Suggested example, for revision:

[code]

[2018-02-20 16:26] drybjed commented on #170
Sounds good, however I would also add more "native" examples to not suggest that only `raw` can be used for this. Also, explanation of contents of the `my_relayhost.yml` file would be nice.

[2018-02-21 12:55] stefangweichinger commented on #169
postfix__packages: [ 'libsasl2-modules' ]

helped as workaround for now

[2018-02-21 19:09] stefangweichinger opened #176 "debops.snmpd: request for more information/docs"
I setup test VMs with debops.snmpd and now want to connect to them by using the generated agent account (ansible/secret/snmp/credentials/admin/username ...)

Even after disabling iptables and tcpwrappers I can't get a single snmpwalk-command return with results:

[code]

A little additional explanation would be helpful, or maybe I even hit a bug here?
I am completely new to SNMP, so it might be my

[2018-02-21 19:16] stefangweichinger commented on #170
1.

Sure, so far I haven't needed (or figured out...) anything else than "raw".

2.

[code]

You prefer stuff like that as PRs against the docs itself, I assume?

[2018-02-21 19:19] stefangweichinger commented on #176
And an additional request here: it would be helpful to know how start over after testing.
(how) can snmpd-users removed or changed after initial tests (for example if weak passwords have been used at first tests)?

[2018-02-21 19:21] drybjed commented on #170
Sure, a PR with additions to the documentation is always welcome.

That `.yml` extension of te `my_relayhost.yml` file is so misleading... In that case I would at least go with `.txt`, unless you would want to use `git-crypt` with your project directory, in that case I would designate some other extension, maybe `.txt.crypt`.

[2018-02-21 19:37] drybjed commented on #176
I haven't played with `debops.snmpd` in a long while; I think that it should work correctly but setting the password for SNMPv3 was always a bit tricky there. Password is stored in `/var/lib/snmp/snmpd.conf` and you need to run a special command to generate it, and it cannot be changed afterwards... [Complete mess](https://wiki.archlinux.org/index.php/snmpd#SNMP_3).

While writing the role I kinda

[2018-02-21 20:00] stefangweichinger commented on #176
Fully understood for now. Doing my tests and learning, maybe returning with PRs. *maybe*

[2018-02-21 20:13] stefangweichinger commented on #176
My assumptions are:
in snmpwalk I should be able to use

[code]

Is that correct?

[2018-02-21 20:17] drybjed commented on #176
Yes, I think so.

[2018-02-21 21:22] stefangweichinger commented on #176
I *think* and would like to suggest a real check:
it might be that admin and agent user get mixed up on the target server.

[code]

on target machine

[code]

... I interpret this as: the only user(name) deployed is the ADMIN-user, not the AGENT-user.

Maybe admin-user gets deployed with agent-password, I am on my way pinpointing that.
thanks for a closer look.

[2018-02-21 22:32] stefangweichinger opened #179 "debops.librenms: template missing"
TASK [debops.nginx : Create default welcome page if enabled]

[WARNING]: Unable to find 'lookup/ferm__fix_dependent_rules.j2' in expected paths.

original message: the template file lookup/ferm__fix_dependent_rules.j2 could not be found for the lookup

---

$ find ~/.local/share/debops/debops/ | grep fix_dep
~/.local/share/debops/debops/ansible/roles/debops.ferm/templates/lookup/ferm__fix_dependen

[2018-02-21 22:35] drybjed commented on #179
This is an Ansible bug with Jinja >2.8, you need to downgrade to 2.8.

[2018-02-21 22:41] stefangweichinger commented on #179
Fedora 27 here on my desktop, jinja (never heard of) from upstream, ansible from git-repo, now switched to ansible from F27. Same error. ok, maybe fedora-issue.

[2018-02-22 07:08] drybjed commented on #179
Check which `jinja` version you use:
[code]
I'm not sure about Fedora, but if you cannot downgrade to Jinja 2.8, then using `virtualenv` environment might be a good alternative.

[2018-02-22 08:09] stefangweichinger commented on #179
Jinja2 (2.9.6)  ... (sure I heard of jinja, wrote templates myself. It was too late yesterday ;-))
A bit more information around your virtualenv suggestion would be great. Thanks.

[2018-02-22 08:17] drybjed commented on #179
Instructions how to install DebOps in a `virtualenv` [are in the documentation](https://docs.debops.org/en/latest/user-guide/install.html#installation-in-a-python-virtualenv), but perhaps this could be moved to its own section with explanation for different operating systems.

[2018-02-22 16:45] drybjed opened #181 "[debops.apt_proxy] The 'python3-future' package requires 'jessie-backports' Debian repository"
The `debops.apt_proxy` role contains a Python script which allows easy handling of unreachable APT caches, implented in https://github.com/debops/debops/commit/5bdb2c148c4. This script apparently relies on code provided by the `python3-future` APT package, which is available on Debian Jessie via the `jessie-backports` repository.

In certain situations, particularly initial host deployment, where

[2018-02-23 21:32] wernerkrauss opened #182 "[debops.gitlab] manage secrets.yml with debops"
according to https://gitlab.msu.edu/help/raketasks/backup_restore.md#storing-configuration-files it's important to backup gitlab's `config/secrets.yml` file, cause it's used to encrypt the database.

Therefore it might be good, if debops creates this file.

When updating gitlab of course the old file should be kept intact and - if possible - the current secrets saved as ansible secret

[2018-02-24 10:37] jrgoldfinemiddleton opened #183 "Replace comma with dot in debops.users when condition"
https://github.com/debops/debops/blob/a34cdcaab6ca9e5154ab64116a75ed03c1cbd331/ansible/roles/debops.users/tasks/resources.yml#L35

https://github.com/debops/debops/blob/a34cdcaab6ca9e5154ab64116a75ed03c1cbd331/ansible/roles/debops.users/tasks/resources.yml#L52

`item,path|d()` should be `item.path|d()`

[2018-02-24 12:43] drybjed commented on #183
Good catch! Want to do a PR with the change?

[2018-02-24 16:41] jrgoldfinemiddleton opened #184 "Possible security hole in debops.authorized_keys role?"
I might be missing something but I am concerned that the authorized_key task "fails over" to the root user for the "user" parameter if the specified user isn't found in the passwd DB.  Wouldn't this logic allow an erroneous key to give full root access?

https://github.com/debops/debops/blob/a34cdcaab6ca9e5154ab64116a75ed03c1cbd331/ansible/roles/debops.authorized_keys/tasks/main.yml#L48

My apolog

[2018-02-24 18:18] drybjed commented on #184
I don't think that this is a security hole. Please note that the `item.name` parameter is required by the task, otherwise it's skipped. The path of the file that the `authorized_key` module will include the SSH key in will be in effect:
[code]
The `user` parameter of the `authorized_key` Ansible module is a required parameter, without it the module fails. However, the user specified in the configu

[2018-02-24 18:27] jrgoldfinemiddleton commented on #184
Oh, I see.  So there is no way that someone trying to SSH using root will be able to get opensshd to consider the keys in any file other than "root" inside the "/etc/ssh/authorized_keys" directory (aside from perhaps "/root/.ssh/authorized_keys")?

By the way, thank you for the detailed and quick reply.

I am interesting in submitting PRs for the other issues I've reported.  I will try to get to i

[2018-02-24 18:30] drybjed commented on #184
For that you would need to review the `sshd` source code, but as far as I can tell, no. One option to do that would be to change the `AuthorizedKeysFile` option in the `/etc/ssh/sshd_config` file to point to a static file, say `/etc/ssh/authorized_keys/root` as one of the files checked by the daemon. Or, use the `AuthorizedKeysCommand` to execute a script that returns the SSH keys from the specifi

[2018-02-24 18:32] jrgoldfinemiddleton commented on #184
Thank you.  I really appreciate this great project.

[2018-02-24 18:32] #184 closed, assigned to nobody

[2018-02-25 00:07] #183 closed, assigned to nobody

[2018-02-25 22:21] ypid commented on #181
My mistake. `python3-future` is not actually needed.

[code]

[2018-02-25 22:40] #181 closed, assigned to ypid

[2018-02-26 10:35] wernerkrauss opened #191 "when statements should not include jinja2 templating delimiters"
Got a warning running the gitlab playbook:

[2018-02-26 10:37] drybjed commented on #191
Thanks, there are a few of these in different roles, they will be cleaned up when role linting is enabled.

[2018-03-01 21:42] quiescentnexus opened #200 "debops.nsswitch/debops.libvirt: add support for libvirt and libvirt_guest services for nsswitch hosts database"
It would be nice to have built-in support for the `libvirt` and `libvirt_guest` services for the nsswitch hosts database. They're the most effort-free way of letting a hypervisor resolve hostnames of VMs that use the built-in dnsmasq-based NAT provided by libvirt.

Upstream documentation: https://libvirt.org/nss.html

Both services are provided by the `libnss-libvirt` package in Stretch.

A config

[2018-03-01 21:49] drybjed commented on #200
Sounds good. It could probably be added bedore `dns` and after `mdns` entries in `/etc/nsswitch.conf`. I'll setup a `libvirt` environment to test if this works when I have some time.

[2018-03-02 10:06] mortn commented on #74
IMHO it sounds like this would somewhat break the role in transitioning it away from what I thought was the master logic in Ansible: Keep your system/inventory specific variables in host_vars/group_vars (in your inventory, basically) and then the generic setup/config routines in the roles which calls for the role to be able to deal with non-standard cases like the one you describe.
Wouldn't it be

[2018-03-02 12:49] drybjed commented on #74
@mortn Yeah, after thinking about this more I don't see the benefit of multiple `debops.nginx` roles anymore. Making the webserver optional on the playbook level as you suggest might be a better solution to this.

[2018-03-06 20:06] drybjed commented on #110
After the latest release (`v0.7.0`), I'm able to install the package with `pip install --user debops` on Debian Stretch and Jessie with some additional packages from APT. Therefore I assume this issue should be resolved now.

[2018-03-07 11:23] pniederlag opened #207 "debops.docker fails with 'dict object' has no attribute 'search'"
executing debops using the roles from the monorepo the role debops.docker fails with an error:

[code]
FYI: there are no search domains defined in /etc/resolv.conf

[2018-03-07 11:48] drybjed commented on #207
Thanks for the bug report, it should be fixed in the next release.

[2018-03-07 13:04] #207 closed, assigned to nobody

[2018-03-09 13:30] pniederlag opened #210 "padlock always yields: gpg: WARNING: no command supplied"
I have setup encfs support via debops-padlock as documented in https://docs.debops.org/en/latest/debops-tools/scripts/debops-padlock.html

Whenever I run the debops command there are some warnings from gpg displayed:

    gpg: WARNING: no command supplied.  Trying to guess what you mean ...

[2018-03-09 13:37] drybjed commented on #210
This might be a result of latest changes, sorry. Are you using `encfs` on Debian Stretch without issues?

[2018-03-09 13:42] pniederlag commented on #210
My ansible_controller (debops client) is on "bleeding edge" (buster/sid).

From my point of view it can't harm to add the explicit --decrypt command on any debian version. I have updated the PR to pass the psycode-style failures (line lenght)

[2018-03-09 13:44] drybjed commented on #210
Ah, so it's just the `encfs` version in Stretch that is not cooperative, newer one (in Buster) works fine? I wonder if the maintainer would do a backport to `stretch-backports`, but that might need to pull some other libraries as well.

[2018-03-09 13:52] #210 closed, assigned to nobody

[2018-03-12 10:42] gardouille opened #218 "debops.apt Add a way to manage apt.conf.d files"
Something like **apt__conf**, **apt__group_conf** and **apt__host_conf** to be able to add personnal configuration (e.g : to be able to remount **ro** partitions).

[2018-03-12 13:33] stek29 commented on #31
What's wrong with just using `head -c <if >of` as suggested in stackexchange answer?

[2018-03-13 15:14] thiagotalma commented on #133
To help those who get here with this problem:
`pip install Jinja2==2.8`

[2018-03-14 17:54] drybjed commented on #133
This bug should be finally fixed by https://github.com/debops/debops/pull/223, therefore I'm closing this issue.

[2018-03-14 17:54] drybjed commented on #179
This bug should be finally fixed by https://github.com/debops/debops/pull/223, therefore I'm closing this issue.

[2018-03-14 17:54] #179 closed, assigned to nobody

[2018-03-15 15:44] adituriya opened #226 "debops.core role not found on fresh install"
Maybe my own ignorance, but I've had the same result each time I set up a new Debops controller. Basically Debops cannot run until I add `roles_path = /usr/local/lib/python2.7/dist-packages/debops/ansible/roles` to `.debops.cfg`.

How I got there:

1. Provision a new Debian stretch VPS
2. Create a `debops` user and grant NOPASSWD sudo access, login as that user
3. Install ansible from stretch-back

[2018-03-15 16:07] drybjed commented on #226
Sorry about that, this has been already fixed in the monorepo by https://github.com/debops/debops/commit/599520ee034f32803aa5e23362aa6e406a49ede5. I'm planning to release a new version near the end of March, then this issue should be solved in the package on PyPI.

[2018-03-15 16:15] adituriya commented on #226
Ahh.. thanks so much for the reply!

[2018-03-15 16:32] adituriya commented on #226
Confirmed - simply running `debops-update` fixes the issue. Thanks again.

[2018-03-15 22:28] drybjed commented on #148
This issue should be fixed by https://github.com/debops/debops/commit/f19515785da63de37e3fa24fa6ac242b03d17d92, therefore I'm closing it.

[2018-03-15 22:28] #148 closed, assigned to nobody

[2018-03-15 22:29] drybjed commented on #29
This was fixed by https://github.com/debops/debops/pull/32, therefore I'm closing it.

[2018-03-15 22:29] #29 closed, assigned to nobody

[2018-03-17 22:51] ypid commented on #31
@stek29 Thanks for the input. That should work, https://github.com/debops/debops/pull/232. Please review.

[2018-03-18 13:53] stek29 commented on #31
@ypid `head -c`, not `head --byte` :(

[2018-03-18 21:59] jankatins opened #234 "Overwrite the default editor"
(from https://github.com/debops/ansible-console/issues/46)

I've both vim and nano installed but want nano to be the default editor. I tried to do this in a var file:

[code]

But it seems this has not the desired effect that this is put in the first place of the list. would it be possible to add such a way?

[2018-03-18 22:02] drybjed commented on #234
Agreed, the current design is not very flexible, the code that selects the active editor could be moved to a default variable so that it would be easier to set the preferred option.

I don't think that the editor selection needs a separate role, `debops.console` seems to be a good fit for now.

[2018-03-18 22:38] jankatins opened #237 "nullmailer update asks questions on `apt upgrade` when installed via debops"
I installed nullmailer via running `debops`. Afterwards I did a `apt update && apt upgrade` and got asked by the nullmailer package how to configure nullmailer. This seems wrong: if I configure it via debops, I want to have the package in a state that it doesn't ask me questions on updates afterwards.

[2018-03-18 23:16] drybjed commented on #237
Agreed. Do you know what questions were you asked by `debconf`? Also, what OS, release?

[2018-03-18 23:44] jankatins opened #238 "sshd fails in MAC config line"
I installed sshd via debops on my local laptop. I didn't set any sshd related config option in my vars. `debops`now fails with this message:

[code]

I'm running debian unstable with this ssh packages:

[code]

As far as I understand the problem, my sshd version needs a new versioned list of MACs, similar to this: https://github.com/dev-sec/ansible-ssh-hardening/pull/139

[2018-03-18 23:52] jankatins commented on #238
Adding this in a vars file let it run throught, but now fails on a different line:

[code]

[code]

[2018-03-19 00:27] jankatins commented on #237
debian with latest unstable. There were two questions: the second was about the smarthost setting, the first i don't remember anymore.

the upgrade of nullmailer (from etckeeper log):

[code]

[2018-03-19 07:41] drybjed commented on #237
Could you install `debconf-utils` and run:
[code]
This list could be compared with the one in Debian Stable, that should show the missing questions.

[2018-03-19 07:49] drybjed commented on #238
The `UsePrivilegeSeparation` was deprecated as an "option", this is now mandatory. This could be handled by a `version_compare()` check in the config file. Can you check if `sshd` starts correctly if you remove this option from the config file, or is there something else needed?

New list of MACs for the newer version sounds good, do you want to add it via a PR?

[2018-03-19 20:42] jankatins commented on #238
Yes, it comes up when I remove that line completely from the sshd_config file.

[2018-03-19 21:01] jankatins commented on #237
[code]

[2018-03-19 21:15] drybjed commented on #237
Hmm... So, on my systems `debconf` doesn't ask about `nullmailer` questions on upgrade, but that might be different on Debian Sid. Currently the role doesn't set any `debconf` questions, but perhaps that could be changed. I didn't want to go the `debconf` route because at the time the [remote server password was left in the `debconf` database in the clear](https://bugs.debian.org/cgi-bin/bugreport

[2018-03-19 21:18] drybjed commented on #238
Great, I'll try to update the role before the next release then. Thanks for the bug report.

[2018-03-19 21:31] jankatins commented on #238
Thanks for your work on this :-)

[2018-03-20 08:57] drybjed commented on #238
@jankatins You set a new list of MACs, however `debops.sshd` has already list of MACs without `hmac-rpemd160`, based on the Mozilla guidelines:
[code]
I cannot find any information through Google search about `umac-128@openssh.com` resulting in issues with SSH server. I'll fix the privilege separation first and let you check if the issue with MACs persists.

[2018-03-20 09:24] drybjed commented on #238
The issue with privilege separation option should be resolved by https://github.com/debops/debops/pull/240.

[2018-03-20 10:45] jankatins commented on #238
Will try tonight. Thanks!

[2018-03-20 12:01] drybjed commented on #170
@stefangweichinger I wrote [an SMTP client with SASL auth guide](https://docs.debops.org/en/latest/ansible/roles/debops.postfix/guides.html#postfix-smtp-client-with-sasl-authentication), can you check it out and see if anything else could be added?

[2018-03-20 12:06] Polichronucci opened #242 "Errors during creation of new LetsEncrypt account via acme."
This is the actual error:
<pre>
$ cat /etc/pki/realms/REALM/acme/error.log
Parsing account key...
Parsing CSR...
Found domains: domain.ex
Getting directory...
Directory found!
Registering account...
Traceback (most recent call last):
  File "/usr/local/lib/pki/acme-tiny", line 197, in <module>
    main(sys.argv[1:])
  File "/usr/local/lib/pki/acme-tiny", line 193, in main
    signed_crt = get_crt(

[2018-03-20 12:53] drybjed commented on #242
I suspect that Let's Encrypt with ACME v2 protocol now requires an explicit acceptance of terms and, maybe, a proper e-mail address for contact info. These could be added in `debops.pki` for `acme-tiny` support.

[2018-03-20 13:29] roddhjav opened #243 "debops.docker: Unable to use the virtualenv"
Hi,

After the installation of docker (from upstream) with `debops.docker`, I have tried to use Ansible modules to interact with Docker as explained in the [doc](https://docs.debops.org/en/latest/ansible/roles/debops.docker/docker-virtualenv.html#ansible-modules-and-docker-virtualenv). However, when I run the example [playbook](https://github.com/debops/debops/blob/master/docs/ansible/roles/debops

[2018-03-20 13:37] drybjed commented on #243
Can you find the `docker-python` command in `$PATH`? It should be a symlink in `/usr/local/bin`, created by the role.

What if you change the `ansible_python_interpreter` to the `python` script inside of the virtualenv, does that make the playbook work?

[2018-03-20 13:49] roddhjav commented on #243
Yes `docker-python` is in `$PATH` and the symlink is correct:
[code]
With: `/usr/local/bin/docker-python -> /usr/local/lib/docker/virtualenv/bin/python`

I tried with `ansible_python_interpreter: '/usr/local/lib/docker/virtualenv/bin/python'` in the playbook; however, the error is the same.

[2018-03-20 14:13] drybjed commented on #243
I just tested this setup in my own environment:

- Ansible Controller: Debian Jessie
- remote host: Debian Stretch
- Docker version 17.12.1-ce, build 7390fc6
- Ansible version 2.5.0rc3

And it apparently works fine with the example playbook, got the `redis` container running.

[2018-03-20 15:04] roddhjav commented on #243
I have done a few test, it seems the `ansible_python_interpreter` variable does not do anything.

I added to the playbook:
[code]

With in /home/vagrant/test.py to test the virtualenv:
[code]

When the env is `docker-python` it works fine, but as expected, when it's `python`, it does not. So the everything seems to be set up correctly but Ansible is not able to use `docker-python` as env.

Edit: I

[2018-03-20 15:08] Skeen opened #244 "debops.locales missing on Ansible Galaxy?"
TL:DR; `debops.locales` is not found on [Ansible Galaxy](https://galaxy.ansible.com/debops/?role=locales)

I'm trying to execute the example playbook from `debops.postgresql_server` (see [here](https://docs.debops.org/en/latest/ansible/roles/debops.postgresql_server/getting-started.html#example-playbook)).

I'm executing the playbook and thus roles as standalone; as I do this, I get errors regardi

[2018-03-20 15:26] drybjed commented on #244
The initial plan with DebOps monorepo was that for convenience, roles would be exported to their own repositories on GitHub and published on Ansible Galaxy that way. This would require writing a few scripts that would extract the roles, create GitHub repositories, register them on Galaxy, etc. That was supposed to happen after the move was completed when we would know what we have to work with

So

[2018-03-20 20:48] jankatins commented on #238
done: still only worked with this in a vars file (tried with and without):

[code]

[2018-03-20 20:50] drybjed commented on #238
@jankatins Thanks for testing. I wonder what changed in the Debian package that doesn't let `sshd` work with `umac-128@openssh.com` MAC... Any ideas? I'm going to add it to the role, of course, but it would be nice to have some basis for why it's like this...

[2018-03-20 22:19] stefangweichinger commented on #170
Guide covers all the settings I have set here: yes, looks great. Thanks.

[2018-03-20 22:19] #170 closed, assigned to nobody

[2018-03-21 10:02] gardouille opened #246 "debops.apache2 Add apache__*packages lists"
I think it might be useful (at least for me…) and allow this role to have the same behaviour/variables like almost other DebOps's roles.

In my case, i already use **apache__packages** in debops_service_php group_vars to automatically add _libapache2-mod-php_. And on another host i also need _libapache2-mod-perl2_.

**apache__group_packages** and **apache__host_packages** will be perfect.

[2018-03-21 10:09] drybjed commented on #246
Sounds good to me. Want to create a PR with these additions?

[2018-03-21 10:24] gaudenz opened #247 "Nginx: default_server fact wins over inventory configuration"
Currently the default server which gets saved to a fact during the first run has precedence over the inventory configuration with the `nginx_default_name` and `nginx_default_ssl_name` variables. This leads to surprising results when setting or changing these variables as these changes do not have any effect. The same issue also exists when changing the order in the `nginx__servers` list which woul

[2018-03-21 10:39] drybjed commented on #247
I agree, the current mechanism of default server selection is very badly designed, and there are multiple factors at play here.

The `debops.nginx` local facts where designed long ago when most of the facts were static. Today, the facts are usually Python scripts which can be more dynamic. The `debops.nginx` fact needs to be rewritten in Python, in which case it could help select the default `ngin

[2018-03-21 14:24] #246 closed, assigned to nobody

[2018-03-22 10:40] drybjed commented on #242
This issue should be fixed by https://github.com/debops/debops/pull/250, can you check and confirm?

[2018-03-22 10:49] jankowa opened #251 "proc_hidepid: reload for unprivileged lxc-container fails"
Hi,
there seems to be still an issue with remounting /proc on lxc-containers. While this works with privileged containers:

[code]

it fails for unprivileged container:

[code]
Is there any way to find out inside an container if it's unprivileged or not? Otherwise a configuration variable would be nice to mark containers as unprivileged.

[2018-03-22 10:53] drybjed commented on #251
I noticed that as well while testing unprivileged LXC container support. It seems that good indicator that the container is unprivileged is owner and group of the `/proc` filesystem which in unprivileged LXC containers is `nobody:nogroup`, at least on Debian Stretch. I'm not sure if that's the same for Docker.

The `debops.lxc` role needs to have a bootstrapping script that can prepare the unprivi

[2018-03-22 20:19] ypid opened #252 "[debops.debops_legacy] New role which helps with DebOps upgrades/removes legacy files"
Often, redesigns of existing roles result in new filenames on managed hosts. Old files currently don’t get removed by DebOps and just lay on managed hosts. This can become an issue because the old files are still in effect. Currently, the admin is expected to review all changes to DebOps and remove those files manually. I propose we create a role which deletes common legacy files to centralize thi

[2018-03-22 20:35] drybjed commented on #252
Sounds like an interesting idea, `debops.debops_legacy` is a good choice. I wouldn't even add the role to the main playbook, it can just be executed as standalone, against `[debops_all_hosts]` group.

[2018-03-22 21:36] drybjed commented on #251
This should be fixed by https://github.com/debops/debops/pull/253

[2018-03-22 21:48] #251 closed, assigned to nobody

[2018-03-22 22:14] drybjed commented on #238
This issue should be fixed by https://github.com/debops/debops/pull/254. @jankatins, can you check and confirm?

[2018-03-23 06:05] isaiaholoyede commented on #242
@drybjed This is fixed for me. Thank you very much.

[2018-03-23 09:37] drybjed commented on #141
@jwaibel This issue should be fixed by https://github.com/debops/debops/pull/255, can you confirm?

[2018-03-24 15:07] jankatins opened #256 ""name 'unicode' is not defined" in debops_filter_plugins -> _parse_kv_value"
TASK [debops.sysctl : Remove sysctl configuration files if requested] ********************************************************************************************************************************
task path: /home/js/.local/share/debops/debops/ansible/roles/debops.sysctl/tasks/main.yml:33
The full traceback is:
Traceback (most recent call last):
  File "/home/js/.binaries/miniconda3/lib/python3.

[2018-03-24 15:09] drybjed commented on #256
What Python version are you using with Ansible?

[2018-03-24 15:12] jankatins commented on #256
py3

It's probably enough to do something like this at the top of the [file](https://github.com/debops/debops/blob/master/ansible/roles/debops.ansible_plugins/filter_plugins/debops_filter_plugins.py)

[code]

[2018-03-24 15:13] drybjed commented on #256
Can you check if that fixes the issue? I'll try it out on my end ASAP.

[2018-03-24 15:14] jankatins commented on #256
currently trying it :-) Let's see..

[2018-03-24 15:15] drybjed commented on #256
Looks like it works fine with Python 2.7.

[2018-03-24 15:17] jankatins commented on #256
Yep, works on py3

[2018-03-24 15:17] jankatins commented on #256
Used this:

[code]

[2018-03-24 15:18] drybjed commented on #256
Great, thanks. I'll fix this with the next patch then.

[2018-03-24 15:35] drybjed commented on #256
This issue should be fixed by https://github.com/debops/debops/pull/257/commits/23ff21134c9b52abf344f3246244eecea1d53ef6.

[2018-03-24 15:45] roddhjav commented on #243
I have news here,  as you said, it works on a default debops config, I tested it with a new config (generated with debops-init) and with an empty inventory with only the following variables  set:
[code]

It works!. However, if I add, `docker__ferment: True` then it does not work, and I have the same error. So the source cause of my error was `docker__ferment: True`.

[2018-03-24 16:15] drybjed commented on #243
The `ferment` script is not used with upstream Docker releases. What OS release are you using? Upstream Docker should be automatically enabled on Debian Stretch.

[2018-03-24 16:21] roddhjav commented on #243
I use Debian Stretch; therefore it can explain the error. Thank for the help, it was very helpful.

[2018-03-24 16:21] #243 closed, assigned to nobody

[2018-03-24 17:01] jankatins commented on #256
It's not an `ImportError`, it's a `NameError`.

[2018-03-24 17:03] drybjed commented on #256
Ah, sorry, my bad. I see now that it's not an import, will fix ASAP.

[2018-03-24 17:07] jankatins commented on #252
not making it part of the default playbook will lead to situations where one forgets to run this role :-/

[2018-03-24 17:21] drybjed commented on #256
@jankatins Does it work now, with https://github.com/debops/debops/pull/258?

[2018-03-24 17:22] drybjed commented on #252
@jankatins I don't like removing random stuff on production hosts via the playbook - what if the role removes code that somebody else set up, in a file with concidentally the same name? It's pretty unlikely, however I would want to be on the cautious side.

[2018-03-24 17:28] jankatins commented on #238
Something still seems to be broken here: my config ends up with this:

[code]

[2018-03-24 17:50] drybjed commented on #238
It looks like the version of the SSH server package is incorrectly detected. What do you get when you run:
[code]
On Debian Stretch, my output looks like:
[code]

[2018-03-24 17:53] jankatins commented on #238
There is still a problem:

* The dict is differently sorted than in the definition (probably a python dict problem: only in py3.7, the input order is guaranteed -> `for key, value in sshd__macs_map|dictsort(reverse=true)` should take care of that)
* But it still adds all mac, even the one form 6.0 to the list:

[code]

Ended up as

[code]

-> So the iteration doesn't break after the first find

So

[2018-03-24 18:08] jankatins commented on #238
This works:

[code]

-> Workaround from here: https://stackoverflow.com/questions/9486393/jinja2-change-the-value-of-a-variable-inside-a-loop

[2018-03-24 18:14] drybjed commented on #238
Yes, I thought that could be a workaround, it's common in DebOps. Do you want to make a PR?

[2018-03-24 18:46] jankatins commented on #238
done: https://github.com/debops/debops/pull/259 Please tell me if I have to change something...

[2018-03-24 19:37] drybjed commented on #238
@jankatins You could update the PR with the suggested change. :-)

[2018-03-24 20:59] jankatins commented on #256
yes

[2018-03-24 20:59] #256 closed, assigned to nobody

[2018-03-24 21:35] #238 closed, assigned to nobody

[2018-03-24 22:16] jankatins opened #260 "enable persistent systemd journal"
For that to happen either the `/var/log/journal` directory has to exist (with the default debian systemd packages) or `Storage=persistent` has to go into a conf file (in `/etc/systemd/journal.conf.d/whatever.conf`). It would also be nice to have a setting for the size of the journal.

[2018-03-24 22:22] drybjed commented on #260
You can create the directory using `debops.resources`:
[code]
You could also create the configuration with the same role.

I'm not sure if restart/reload of `journald` is needed to take effect.

Since Debian Stretch uses `rsyslog` for persistent log files by default, I'm not sure if essentially duplicating the functionality with persistent journal by default is necessary. On the other hand, since

[2018-03-24 22:39] jankatins commented on #260
I actually want to disable rsyslogd. I use debops on my laptop and try to find all the knobs to configure it just like I have it now. journald instead of rsyslogd is something I had and I was kind of surprised that debops doesn't have a journal specifc role or at least some knobs in one of the roles.

Re Debians plans: I don't think there are any plans to drop anything :-) rsyslogd is probably the

[2018-03-24 22:47] drybjed commented on #260
You should be able to disable `rsyslog` **role** by setting
[code]
in the inventory. However that will not uninstall `rsyslog` itself.

There's no `journald` role since for the time being I was busy maintaining the DebOps project itself, and I usually focus on the roles that I currently need at work. Since `rsyslog` is installed in Debian by default, I decided to focus on it and that's how `debops

[2018-03-24 23:02] jankatins commented on #260
Sending logs to remote is AFAIK using some rsyslog API. But I haven't played with that.

I just like stuff like `journalctl -u my-systemd-service` (logs of one service) and `journalctl -ef` (errors as they come in) :-)

I will try writing a simple role for that. What's the expectation for such a role, does such a role need to cover "everything" or is a "it works on my laptop" setting ok? Also, is

[2018-03-24 23:21] drybjed commented on #260
You could start by reading [DebOps Guidelines and Policies](https://docs.debops.org/en/latest/debops-policy/index.html) section of the old documentation (still needs to be moved to a new layout). Since it's pretty big, you can focus on:
- [Software Source Policy](https://docs.debops.org/en/latest/debops-policy/software-source-policy.html) - where DebOps pulls code from
- [Code Standards Policy](ht

[2018-03-25 21:18] drybjed commented on #226
This will be fixed with the next release, therefore I'm closing this issue so that it does not block the milestone.

[2018-03-25 21:18] #226 closed, assigned to nobody

[2018-03-26 10:14] jankowa opened #266 "nginx: add option for global ssl config"
In my opinion it would be helpful to have the possibility to configure ssl configuration inside nginx.conf directly and not only inside the specific server configurations.

This e.g. would not only help to deploy also site-configurations not managed with ansible/debops but also define consistent ssl configurations which still can be overwritten by individual site configurations.

Maybe something l

[2018-03-26 10:21] drybjed commented on #266
Sounds good to me, although I'd aim for a slightly different approach. Debian `nginx` packages introduced the `/etc/nginx/snippets/` directory, `debops.nginx` uses it currently to store the ACME challenge configuration which is then included in the server configuration files. I would do the same with the base SSL configuration which would be then included in the server configuration. I suspect tha

[2018-03-26 10:25] drybjed commented on #266
Ah, you want to include it in the `/etc/nginx/nginx.conf` file directly? I'm not sure if that's a good idea, some of the services managed by DebOps, for example reprepro or preseeding configuration, rely on a plain HTTP service being present. Wouldn't setting SSL options in the main configuration file result in issues with that? I'm not sure, never tried it. I think that including a snippet in rel

[2018-03-28 03:12] stefangweichinger opened #267 "librenms: add variable base_url"
Request to add the config.php-parameter

[code]

as variable. This helps to run LibreNMS behind a reverse proxy (webserver w/ librenms runs http only).

I'll try to provide the PR, this issue just as "reminder". Maybe even a short example for this in the docs?

[2018-03-28 06:31] drybjed commented on #267
I'm gonna do a quick patch, so it gets in the next release. Stay tuned.

[2018-03-28 06:32] drybjed commented on #141
This issue should be fixed, therefore I'm closing it. If it comes back, let me know.

[2018-03-28 06:32] #141 closed, assigned to nobody

[2018-03-28 08:10] #267 closed, assigned to nobody

[2018-03-28 08:54] stefangweichinger commented on #267
I somehow expected this ;-) thanks, great.

[2018-03-28 09:31] drybjed commented on #266
This should be partially fixed by https://github.com/debops/debops/pull/269/commits/8cd380ae139c42e5780063fe1b9cb8e25dbf6325. The snippet is not currently included in the generated configuration files because `nginx` complains about duplicate parameters.

[2018-03-28 09:31] #266 closed, assigned to nobody

[2018-03-31 11:25] schrieveslaach opened #275 "Cannot Use ACME When Installing Nextcloud"
Hi,

when I'm installing nextcloud through debops I ran twice into the issue that ACME cannot issue a letsencrypt certificate. Here is the log.

[code]

The directory `/srv/www/` access mask is 750 which is the reason for that permission denied error. If I change this to 755, the user `pki-acme` is able to create files in `/srv/www/sites/acme/public/.well-known/acme-challenge/`.

BTW: How can I tr

[2018-04-07 23:38] jankatins commented on #234
Funnily I found a wa to overwrite the default editor (it's even described in https://docs.debops.org/en/latest/ansible/roles/debops.apt_install/defaults-detailed.html#id2):

[code]

[2018-04-10 07:06] drybjed commented on #234
Good find, I forgot that the alternatives can be configured in this role. It might be good idea to move the `editor` configuration there, I'll check it out.

[2018-04-10 07:14] drybjed commented on #275
Thanks for the report, it seems that somewhere the `/srv/www/` directory is created incorrectly. I'll try to find it out, @ypid would also be interested.

To trigger the ACME renewal just remove the entire `/etc/pki/realms/<realm>/` directory and re-run the `debops.pki` role, that should do the trick.

[2018-04-10 08:02] drybjed commented on #234
I checked if there's a way to change the `vim.basic` priority to be higher than `nano`, and there is, but Debian doesn't remember it after `vim` package is reinstalled. Bummer. I guess that editor will need to be selected manually, but I'll move the configuration to `debops.apt_install` - the role already installs `vim`, so the alternative selection at least will be in the same context.

[2018-04-10 08:51] #218 closed, assigned to nobody

[2018-04-10 10:29] drybjed commented on #234
This should be covered by https://github.com/debops/debops/pull/280/commits/57fc54d98500eb204cd39c9ac2f4897307567585. @jankatins, can you check and confirm if it works for you?

[2018-04-10 21:25] drybjed opened #285 "Implement support for SCAP (Security Content Automation Protocol)"
[SCAP](https://en.wikipedia.org/wiki/Security_Content_Automation_Protocol) is a protocol and a set of services that allows automated compliance testing of the infrastructure with standardized checks (an [example list of security policies for Debian 8](https://static.open-scap.org/ssg-guides/ssg-debian8-guide-index.html)).

Support for SCAP in Debian [is a work in progress](https://wiki.debian.org/

[2018-04-11 17:43] gardouille opened #288 "debops.apache ``index`` parameter is referenced but non-usable"
The documentation present ``index`` parameter https://docs.debops.org/en/latest/ansible/roles/debops.apache/defaults-detailed.html#common-webserver-options

But i can't find it in the debops.apache code.

[2018-04-15 14:07] #252 closed, assigned to ypid

[2018-04-15 15:49] ypid commented on #288
You are right. The documentation was taken from the debops.nginx role and most of the parameters where implemented. Seems that one was missed by me.

[2018-04-15 17:18] #288 closed, assigned to ypid

[2018-04-15 21:16] ypid commented on #275
Thanks for reporting, #277 contains a fix for this. I never noticed the issue because have the data directory on a separate mount point.

[2018-04-15 21:36] drybjed commented on #275
@ypid Thanks for finding this, any idea when #277 will be ready for merge? I guess a separate role that could prepare a webserver environment ie. create `/srv/www/sites` and the `webmasters` UNIX group could be useful, so that these are not duplicated between multiple roles. That's for the future though.

[2018-04-17 06:34] drybjed commented on #166
The [`debops.python`](https://docs.debops.org/en/master/ansible/roles/debops.python/index.html) role is now merged, it can install both Python 2 and Python 3 packages, which can be turned on and off selectively. Now it just needs to be hooked up everywhere via role dependencies.

[2018-04-17 20:56] MTN-RowinAndruscavage opened #513 "Logs in /var/log/ not rotating in Ubuntu"
See https://bugs.launchpad.net/ubuntu/+source/logrotate/+bug/1278193

logrotate fails with:

`error: skipping "/var/log/mail.log" because parent directory has insecure permissions (It's world writable or writable by group which is not "root") Set "su" directive in config file to tell logrotate which user/group should be used for rotation.`

Appears to affect both Ubuntu 14.04 and 16.04 when /var/l

[2018-04-17 21:34] drybjed commented on #513
Thanks for the bug report. I suppose that making it conditional should do the trick:
[code]
Do you know how the default `logrotate` configuration looks on Ubuntu and does it have a similar entry?

BTW, this bug will be most likely fixed in the [DebOps monorepo](https://github.com/debops/debops/) where the primary development of DebOps is done now. You might want to look into switching to using it

[2018-04-17 22:00] ypid commented on #275
I plan to check it out and get back to you ~Wednesday~ someday on the weekend. Should be ready, at least considering the functionality.

[2018-04-18 08:59] gardouille commented on #288
Thanks :)

[2018-04-20 18:51] thiagotalma opened #315 "Become rabbitmq_server__user"
Should the RabbitMQ management tasks be performed by the user defined in `rabbitmq_server__user`?

https://github.com/debops/debops/blob/f9def483e91fa817aff8db68c55efbb0afe85fb7/ansible/roles/debops.rabbitmq_server/tasks/main.yml#L115

It would be better, otherwise I am obliged to create a user in the rabbit without necessity.
I want to configure it like this:
`rabbitmq_server__admin_accounts: []`

[2018-04-20 19:38] drybjed commented on #315
First, keep in mind that there are UNIX user accounts and Rabbit user accounts, which are distinct. The `rabbitmq` UNIX account is created automatically by the Debian package, and the RabbitMQ service is running unprivileged on this account. However the account is created as a normal user, not a system user, therefore the role creates it beforehand so that the `rabbitmq` UNIX account has UID/GID <

[2018-04-23 18:13] ypid opened #320 "Include `../../../includes/global.rst` in all `defaults/main.yml` role files"
Status: Waiting
Waiting for: No PR open against debops/debops which touch `defaults/main.yml`

Currently anonymous links are being used for new docs. This might be quicker in the short run but is more difficult to maintain and can have inconsistencies, especially with different authors. Include `../../../includes/global.rst` in all `defaults/main.yml` so that all links defined there can be used wi

[2018-04-24 21:00] #275 closed, assigned to ypid

[2018-04-25 19:38] thiagotalma opened #326 "Redis - Option to install from file"
Is there any chance of being implemented an option to install Redis Server by the ["official" installation method](https://redis.io/download), using the latest stable (or some specific release) file?  😉

[2018-04-25 20:01] drybjed commented on #326
I would say, no. Redis upstream publishes unsigned tarballs, I don't see any mention of GPG signing anything. Redis developers publish [a repository with hashes of published tarballs](https://github.com/antirez/redis-hashes) but again, commits aren't signed, and there's no tags.

I don't see a sane way to automatically authenticate the upstream Redis tar packages, sorry.

if all you want is a newe

[2018-04-25 20:08] thiagotalma commented on #326
I understand perfectly and I give you the reason.
No reliability, no business.

Thank you very much!!

[2018-04-25 20:08] #326 closed, assigned to nobody

[2018-05-01 22:17] ypid commented on #242
Can be closed I would say.

[2018-05-01 22:17] #242 closed, assigned to nobody

[2018-05-09 13:07] scibi opened #331 "[debops.rabbitmq_server] Set RABBITMQ_USE_LONGNAME to true"
In my environment short host names doesn't work. So when I try to create cluster it fails:

[code]

When I switch to long name it fails in different way:

[code]

It can by solved by setting `RABBITMQ_USE_LONGNAME` to true in `/etc/rabbitmq/rabbitmq-env.conf` and it would be a good default. Unfortunately you have to reset node after changing it.

[2018-05-10 19:42] drybjed commented on #331
Switching to longname by default sounds good to me. I guess this requires addition of `/etc/rabbitmq/rabbitmq-env.conf` template, want to try doing it? I don't think that supporting dependent configuration is needed here, simple template and a set of dictionary variables that define key/value pairs for variables should be fine. If not, I can do it.

So... DNS issue? In my environment by having a l

[2018-05-12 21:12] FloRinke opened #333 "[debops.sshd] using role standalone might lock you out of systems"
After pulling the latest updates I got locked out of systems via ssh, because all groups except 'root' had been removed from sshd_config/AllowGroups.

Apparently the recent change to derive AllowGroups from local facts depends on debops.system_groups being also used, which I don't.

I suggest, this dependency should at least be mentioned in the documentation (e.g. in the example playbook). A check

[2018-05-12 21:23] drybjed commented on #333
Agreed, leaving only `root` able to login can lead to lockouts. How about this then - if the `debops.system_groups` facts are not available, don't set `AllowGroups` by default at all? This way all accounts should be able to login. I'll look into that.

[2018-05-13 15:59] #31 closed, assigned to jinnko

[2018-05-13 16:21] #333 closed, assigned to nobody

[2018-05-15 14:15] mathieumd opened #338 "Status of debops.apache in Galaxy"
The role [Apache](https://github.com/debops/debops/blob/master/ansible/roles/debops.apache/) has not been updated in [Galaxy](https://galaxy.ansible.com/debops/apache/) since 10 months.

I was particularly looking for the fix for https://github.com/debops/debops/issues/246 ([Galaxy](https://github.com/debops/ansible-apache/blob/master/tasks/main.yml#L18) vs. [Debops](https://github.com/debops/debo

[2018-05-15 14:41] drybjed commented on #338
Currently old roles in separate `git` repositories are not updated. The Ansible Galaxy team is planning to introduce support for multiple Ansible roles in a single repository at some point, and I'm waiting for that. When that happens, DebOps monorepo will be published on Galaxy and the old roles on GitHub will be archived.

For now I would suggest that you clone the DebOps monorepo (if you don't w

[2018-05-16 14:37] drybjed opened #339 "[debops.pki] The nameConstraints extension support is incomplete"
After reading [a blog entry about X.509 nameConstraints extension](https://www.sysadmins.lv/blog-en/x509-name-constraints-certificate-extension-all-you-should-know.aspx) it occured to me that the implementation of it in the `debops.pki` role is incomplete. Specifically, the role lacks any way to specify what DNS domains or other such items are allowed/denied in a X.509 certificate. This is done vi

[2018-05-17 09:19] mathieumd commented on #338
Thanks.

[2018-05-17 09:19] #338 closed, assigned to nobody

[2018-05-17 20:29] drybjed commented on #331
This should be now fixed by #340, you should be able to define custom RabbitMQ environment variables using the role.

[2018-05-18 08:46] kmonticolo opened #341 "getting-started site does not exists"
https://docs.debops.org/en/latest/debops-playbooks/docs/guides/getting-started.html mentioned in readme and in the inventory does not exists.

[2018-05-18 08:51] drybjed commented on #341
Right, thanks for the issue report. The link should point to https://docs.debops.org/en/master/debops-playbooks/guides/getting-started.html. Previously it was correct when the old version of the documentation was deployed at docs.debops.org, and after the new version built from the monorepo was implemented, this was not updated.

[2018-05-18 08:55] kmonticolo commented on #341
Thanks Maciek for pointing me the right link. And I'd like to say big "thank you" for your great effort. Appreciate that.

[2018-05-18 08:57] drybjed commented on #341
Thanks! As you can see, still a work in progress, but we are getting there. :-)

[2018-05-20 08:44] #341 closed, assigned to nobody

[2018-05-21 08:28] ypid commented on #339
Hi @drybjed

Seems I overlooked that in https://github.com/debops/ansible-pki/pull/105. I welcome full support of the nameConstraints. I have been using it the way it was implemented in https://github.com/debops/ansible-pki/pull/105 for about a year now without issues. All my clients seem to support it: Tested with Firefox and Chromium on recent versions of GNU/Linux; Chromium on Android 7.0-8.1.

[2018-05-21 08:32] drybjed commented on #339
Thanks for the edit, I had no idea where these pointed at. :-) A few people on the IRC channel complained over the time `nameConstraints` were implemented that they couldn't create certificates for different domains. During this time I suggested just disabling them which did the trick. But recently I suggested adding additional domains to constraints, but it turns out there's no way to do that cur

[2018-05-22 16:51] gardouille opened #344 "system_groups and root_account modify the same thing"
I guess i have some kind of loop.

[Enforce root account task](https://github.com/debops/debops/blob/master/ansible/roles/debops.root_account/tasks/main.yml#L18) (from debops.root_account) and [Add specified UNIX accounts… task](https://github.com/debops/debops/blob/master/ansible/roles/debops.system_groups/tasks/main.yml#L18) (from debops.system_groups) both modify the same thing on my configurat

[2018-05-22 16:56] drybjed commented on #344
I suspect that somewhere in inventory you have `system_groups__*` variable that references the `root` account in a wrong way. Review the inventory, for example with `grep` to find all `system_groups__` variables.

[2018-05-22 16:58] drybjed commented on #344
It might also be due to `root` being in `ansible_local.core.admin_users` fact variable. Check the output of `/etc/ansible/facts.d/core.fact` to see if it returns `root` as one of the admin accounts.

[2018-05-23 06:47] gardouille commented on #344
@drybjed I just update the first comment, it seems root is an admin_user but not in admin_group.
The two `system_groups__*` vars from the first comment are the only ones this node is able to see (from inventory/group_vars/all/debops.yml).

Also, i don't have any var for `core__*`. And i check all **root** occurences in inventory files and it's only set to :
* Give sudoers permissions
* As option f

[2018-05-23 08:37] gardouille commented on #344
I also have `ansible_user=root` (3 admins authenticated by LDAP). Everything is fixed with #345 :)

In a long term, kerberos, `ansible_become_pass`,… should be a better solution.

Thanks ;)

[2018-05-23 08:37] #344 closed, assigned to nobody

[2018-05-24 07:39] gardouille opened #349 "Find a way to generate a tree of templates"
I guess this can be added to **debops.ressources**.

Final purpose : Generate a directory (and subdirectories) with files from a tree with some templates on the Ansible controller.

There is a way to do it [with_filetree ](https://docs.ansible.com/ansible/2.5/plugins/lookup/filetree.html) (since Ansible 2.4) : https://stackoverflow.com/a/41668011
On my own, i used it to generate the [configuration

[2018-05-24 10:15] #349 closed, assigned to nobody

[2018-05-27 16:28] Cadair opened #353 "etc_aliases fails (under Python 3?)"
I am getting the following (very helpful) error while trying to use the etc_aliases role from Arch running ansible under Python 3. I can't work out the correct command to get the full traceback for this error:
[code]

[code]

[2018-05-27 17:08] drybjed commented on #353
Hmm, not sure what could cause this, but it's probably something in the template. You could try and debuig it by "bisecting" the template file - remove almost everything and run the role, then add bits back until the error shows up. Then you will know what might trigger it.

[2018-05-27 17:32] Cadair commented on #353
Well that was easy, looks like it was the first line:
[code]

[2018-05-27 17:33] drybjed commented on #353
So I guess it's the custom filter included in the role.

[2018-05-27 17:34] Cadair commented on #353
Yeah looks like it's this: https://github.com/debops/debops/blob/master/ansible/roles/debops.etc_aliases/filter_plugins/etc_aliases__parse_recipients.py#L67

Are you using `six` or similar to handle things like this?

[2018-05-27 17:36] drybjed commented on #353
No, I try to avoid it. You can look at the `debops.ansible_plugins` role to see how it was done there.

[2018-05-27 18:00] #353 closed, assigned to nobody

[2018-06-01 01:16] ser opened #359 "cron of Diffie-Hellman ephemeral parameters kills LXD container host"
we currently generate DH ephemeral parameters monthly via ```/etc/cron.d/dhparam-generate-params```:

[code]

The problem arrives when it's done on a LXD containers host server with dozens of machines, it simply might kill the server as all generations start in the same time.

How can we make timing more random by default?

[2018-06-01 01:26] drybjed commented on #359
That would probably happen the same with VM/container hosts with multiple machines... As far as I'm aware, the common method to deal with this is to add a random `sleep` delay to a script, for example the `apt` cron script did that [at least up until Jessie](https://sources.debian.org/src/apt/1.0.9.8.4/debian/apt.cron.daily/#L281-L297). I'm not sure how that behaves with `cron` though - does it wa

[2018-06-01 02:24] ser commented on #359
OK I will propose something for systemd based distros, then. Thanks.

[2018-06-02 10:58] #359 closed, assigned to ser

[2018-06-04 19:51] ypid commented on #339
Oh well. We do now (github) …

[2018-06-04 19:54] ypid opened #366 "[debops.owncloud] Dotfiles are rejected by nginx"
Disabling this seems not to be enough:

[code]

Also, it would need to be checked if this can safely be disabled. For now filenames starting with dot are not supported which is better than an not thoughtful patch. I will look into this later, not too soon. If someone wants to step in, feel free to do so. I just want to document it here.

Related to: https://github.com/debops/ansible-owncloud/issue

[2018-06-04 20:16] drybjed commented on #339
There's a few different aspects of this which affects DebOps: the default project repository `debops-update` uses, status of roles that install software from GitHub, pull requests against `debops/debops` repository... I'll write a proper mailing list post in a day or two, in the meantime [DebOps is on GitLab](https://gitlab.com/debops/debops/) already, so we don't need to rush things.

[2018-06-14 13:14] drybjed opened #371 "Use 'utf8mb4' encoding in MariaDB client and server"
According to [this article](https://medium.com/@adamhooper/in-mysql-never-use-utf8-use-utf8mb4-11761243e434), the `utf8` encoding in MariaDB/MySQL is not the "real" UTF-8 but a proprietary format. The real UTF-8 encoding is named as `utf8mb4`.

The `debops.mariadb_server` and `debops.mariadb` roles should be switched to the "real" UTF-8 encoding by default. However, we should test first what happe

[2018-06-18 19:24] myrdd opened #373 "[debops.etherpad] SHA512 hashed passwords of non-admin users do not work"
The following line contains a bug:

https://github.com/debops/debops/commit/1dfe715b6b06481c6dde0dc63d232f10c064e123#diff-d5173f06d4a7743bf3ff160cc2b97481R146

[code]

`printf "%s\n"` should be `printf "%s"`

The line for admin users ([line 136](https://github.com/debops/debops/commit/1dfe715b6b06481c6dde0dc63d232f10c064e123#diff-d5173f06d4a7743bf3ff160cc2b97481R136)) is correct.

This should be v

[2018-06-19 06:48] drybjed commented on #373
Thanks, fix should be merged shortly.

[2018-06-19 07:00] #373 closed, assigned to nobody

[2018-06-24 09:25] computerlyrik opened #376 "Error using debops.postfix"
I got an error using the postfix-role within debops.mono:

[code]

**expected string or bytes-like object**

ENV:
[code]

[2018-06-24 21:59] drybjed commented on #376
Did you set any `postfix__*` variables in the inventory? Are you using a custom Ansible playbook with this role? Can you show it?

[2018-06-25 00:28] computerlyrik commented on #376
The variables you requested
[code]

there is another role at the end of the playbook, but it should not matter.
It generates the ```virtual_alias_maps``` and the ```virtual_mailbox_maps```

[2018-06-25 08:23] drybjed commented on #376
You should explicitly quote things in YAML, and mark them as lists, otherwise they can be interpreted incorrectly. This should make things work:
[code]
Role interpretes values differently depending on if they are strings or lists. This is explained at length [in the documentation](https://docs.debops.org/en/master/ansible/roles/debops.postfix/defaults-maincf.html).

[2018-06-25 19:06] alex-tu-cc opened #378 "error while use debops.sshd as standalone role"
[from document, all rule should can be used standalone ](https://docs.debops.org/en/master/introduction/faq.html#can-i-use-debops-roles-as-standalone)

But in lookup plugin template_src.py which is used across lots of roles, it assume the executed root is under debops project folder, so all those roles will not able to be used standalone in playbook without under debops project folder.

error mess

[2018-06-26 09:25] computerlyrik commented on #376
Tried exactly as you proposed - but did not work. Same error.

[2018-06-26 09:33] drybjed commented on #378
DebOps uses a few custom Ansible plugins to provide additional functionality inside of the roles without the need to modify them. These plugins use code included in the `debops` Python module to read the `.debops.cfg` configuration file and get the configuration from it.

I would like to remove the need to use these custom `*_src` plugins, but this requires that the roles support the functionality

[2018-06-26 09:35] computerlyrik commented on #376
Tracked the error down to this line:

```{% set postfix__tpl_maincf = ((postfix__init_maincf + postfix__combined_maincf) | parse_kv_config) %}```

[2018-06-26 09:38] computerlyrik commented on #376
[code]
fails with the same error

[2018-06-26 09:47] drybjed commented on #376
I executed the playbook you prodived earlier on one of my hosts and it works fine. I think that this might be related to something else in your environment, maybe DNS configuration on the host?

The `postfix__init_maincf` variable is templated, check its contents with this task:
[code]
You will either get a templated file with some JSON/YAML data, or a proper error message from the Ansible `templa

[2018-06-26 09:50] computerlyrik commented on #376
When executing the proposed task:
[code]

[2018-06-26 09:54] drybjed commented on #376
What do you get when you run the task:
[code]
This variable [is a list of multiple variables](https://github.com/debops/debops/blob/master/ansible/roles/debops.postfix/defaults/main.yml#L746-L753), you could check each one this way until you find a faulty one.

[2018-06-26 09:58] computerlyrik commented on #376
Having the following:
[code]

First one works, second one fails with the above error. So it is in the init_maincf template?

[2018-06-26 10:00] computerlyrik commented on #376
There is no "name","section","value" model on the ```mydestination``` list.

[2018-06-26 10:01] computerlyrik commented on #376
in the "combined" ALL of my set variables are appended - but without the "name","section","value" model - is this why it fails?

[2018-06-26 10:03] drybjed commented on #376
If you remove the `mydestination` parameter from your configuration, does the role pass? The `mydestination` list is defined [here](https://github.com/debops/debops/blob/master/ansible/roles/debops.postfix/defaults/main.yml#L372-L382), what's the value of `postfix__fqdn`?

[2018-06-26 10:06] drybjed commented on #376
The `postfix__init_maincf` is essentially an initialization list for different postfix configuration options that parses raw `postfix__*_maincf` parameters and defines the base sections for them. Are all of the list elements in `postfix__combined_maincf` YAML dictionaries? Can you show the value of `postfix__combined_maincf` you have in that debug task?

[2018-06-26 10:08] drybjed commented on #376
I guess that the template needs to check if a given list element examined by it is a `mapping` type and otherwise skip it. That should probably fix the issue, but it would be nice to have a test case first.

[2018-06-26 10:12] computerlyrik commented on #376
It is just the vars getting appended without the name,section,value model.

e.g. excerp from ```postfix__combined_maincf```
[code]
These are exacty my variables set.
this fails when parsing ```postfix__init_maincf``` by the j2-template

[2018-06-26 10:15] computerlyrik commented on #376
The upper part of ```postfix_combined_maincf``` reads like
[code]

[2018-06-26 10:15] drybjed commented on #376
You said excerpt... Can you paste the whole thing? The variables shown look OK to me, this might be something not apparent to you but apparent to me.

[2018-06-26 10:16] computerlyrik commented on #376
```postfix__init_maincf``` tries to parse it with ```{%     set entry_name = (entry.name | d(entry.keys()[0])) %}```
There is no name, i think this is why it fails.

[2018-06-26 10:18] drybjed commented on #376
If there's no name, the template will try and extract it from the dictionary key. I think that one of the elements is not a YAML dictionary but something else, and the template fails in this place because of that.

[2018-06-26 10:21] computerlyrik commented on #376
So you are the expert, this is the whole ```postfix__combined_maincf``` as you requested:

[code]

When i am getting this right, this is piped into the ```postfix__init_maincf``` template, right?

[2018-06-26 10:25] computerlyrik commented on #376
And as soon as the line 5 ```{%     if entry_name is search('_sasl_') %}``` from ```postfix__init_maincf.j2``` gets called, it fails with the error ```expected string or bytes-like object```

[2018-06-26 10:31] drybjed commented on #376
Hmmm, that would suggest that this:
[code]
might be the source of this issue... That's the only entry with `_sasl_` inside. Curiouser and curiouser. What's your `python-jinja2` version? Do you use a `virtualenv` install, or system-wide?  I guess system-wide, and Python 3.6 from the looks of it.

If you remove `smtpd_sasl_auth_enable` entry from your config, does the role pass?

[2018-06-26 10:36] computerlyrik commented on #376
stripped down the role call to
[code]
same error.

I still think ```entry_name``` gets something empty on the set on line 4.

``` community/python-jinja 2.10-1 [installed] ```

[code]

running an arch linux

[2018-06-26 10:38] computerlyrik commented on #376
Btw as soon as i remove ALL variables from the role call, it passes

[2018-06-26 10:42] drybjed commented on #376
Hmmm, what if you define the `vars:` section on the playbook level instead of the role level?

[2018-06-26 10:44] computerlyrik commented on #376
Nothing there. no vars section on playbook level

[2018-06-26 10:51] computerlyrik commented on #376
I tried templating again with
[code]

with the follwing change in the template file:
[code]

So it would just put out the ```entry_name```

I am getting the following error:

[code]

[2018-06-26 10:51] drybjed commented on #376
No, I mean what happens when you try this playbook?
[code]

[2018-06-26 10:58] computerlyrik commented on #376
I think i am getting closer. I modified the template file as follows:
[code]

Just to log out all the entries processed!

With a minimum config from above i am getting the following ```/tmp/debug-init```:

[code]
Why the hell is there an empty list at the end???

[2018-06-26 10:59] computerlyrik commented on #376
Ah. ok. it may be the ```postfix__tpl_init_maincf```. Nevermind.

[2018-06-26 11:06] computerlyrik commented on #376
the ```.keys``` method returns a ```dict_keys```-Object. Perhaps this is why a call to ```[0]``` fails.

No trying to find out, how to get a list of the keys and extract the first item.

[2018-06-26 11:07] computerlyrik commented on #376
https://stackoverflow.com/questions/18552001/accessing-dict-keys-element-by-index-in-python3

...trying right now

[2018-06-26 11:15] computerlyrik commented on #376
So, using the jinja-syntax i now came up with the following solution:
[code]

Seems to work in a stripped down setup. Now trying full-blown.

[2018-06-26 11:18] drybjed commented on #376
Ah, so it's another problem with Python 3 compatibility. Good to know, I wonder where else in the project this might show up.

[2018-06-26 11:20] computerlyrik commented on #376
I will craft a PR for this right now, it seems to work but you may test it also on your side

[2018-06-26 11:21] drybjed commented on #376
Sure, will do. Thanks!

[2018-06-26 12:54] #376 closed, assigned to nobody

[2018-07-09 03:02] fermulator opened #385 "greenfield installation on ubuntu 16.04 fails to build python-ldap"
was following https://docs.debops.org/en/master/user-guide/install.html#ansible-controller

[code]

Had completed dependency requirement for ansible, and was going the python venv route
https://docs.debops.org/en/master/user-guide/install.html#installation-in-a-python-virtualenv

_did_ note the "additional software" mentioned here, https://docs.debops.org/en/master/user-guide/install.html#addition

[2018-07-09 03:39] fermulator opened #387 "is it wise for unattended upgrades to be enabled for non-security packages by default in debops common playbook?"
Hi there,

First time user of debops in my environment. Getting a feel for things.

Before blindly running debops common on my hosts, I wanted to fully understand what defaults are fired in.

This issue raised is the default consideration of the default settings for unattended upgrades as per:
- https://github.com/debops/debops-playbooks/blob/master/playbooks/common.yml#L130
- https://github.com/d

[2018-07-09 08:47] drybjed commented on #385
Agreed, this is an oversight on my part. The `python-ldap` requirement was added kind of a last minute when one of the Travis tests failed without it. When you install the requirements via APT, installing the `-dev` packages is not necessary, but if you go with the virtualenv, the `python-ldap` install requires them.

Thanks for offering fixing the documentation, looking forward to it.

[2018-07-09 08:58] drybjed commented on #387
Just for the record, configuration of `unatteneded-upgrades` [depends on presence of a domain in `ansible_domain` variable](https://github.com/debops/debops/blob/master/ansible/roles/debops.unattended_upgrades/defaults/main.yml#L22-L33). The idea behind this decision is that DebOps can be used both on a standalone host (say, a workstation or a laptop) without a specific domain set, or in a cluster

[2018-07-09 21:27] fermulator commented on #387
Thoughts:
- the conditional on domain or not feels irrelevant to me (presumably it was added for a reason - but I'm left wondering if this bifurcated assumption is true for all users)
- at minimum your proposal to check "if base-stream=stable" is an improvement
- regardless, my change proposal might not be desirable depending on the user-community-base (do "most people prefer" and rely on the curr

[2018-07-10 08:23] drybjed commented on #387
As far as I can tell, a common practice in larger production environments is to set up a local package repository mirror from which all of the production hosts pull packages. That way you have a controlled ingress point for new updates and can release them after checking that everything works as expected in a staging environment, and the hosts just pull new updates via `unattended-upgrades` as the

[2018-07-10 12:48] #371 closed, assigned to nobody

[2018-07-16 16:07] drybjed opened #396 "Add support for acme.sh"
The [acme.sh project](https://github.com/Neilpang/acme.sh) is a popular ACME/Let's Encrypt client written in Bourne shell with support for HTTP-01 and DNS-01 ACME protocols. The features should allow for it to be managed by a separate Ansible role that integrates with the `debops.pki` role via hooks.

Proposed namespace: `acme_sh__*`.

[2018-07-16 16:08] drybjed commented on #385
This issue should be fixed by https://github.com/debops/debops/pull/390, closing.

[2018-07-16 16:08] #385 closed, assigned to fermulator

[2018-07-18 07:01] drybjed commented on #237
@jankatins I've looked at this issue again, and I'm not sure if it can be currently fixed on the Ansible role level. The `nullmailer/relayhost` debconf question is cleared after the `nullmailer` package is installed [because it introduced a security bug by leaking smarthost credentials via the debconf database](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=831813). The issue is, I think, on th

[2018-07-18 08:35] #387 closed, assigned to nobody

[2018-07-19 10:46] #320 closed, assigned to ypid

[2018-07-19 13:55] gardouille opened #404 "[debops.console] Restart systemd fs target for automount points"
If some mount points have the the **x-systemd.automount** option they are correctly set in  **/etc/fstab** by debops.console, but the automount won't work cause it needs to restart the according target :
[code]

- Sample configuration for NFS :
[code]
- For SSHFS share :
[code]

I guess some new handler with a notify should work. But i am not sure of the filter to use to verify if **x-systemd.auto

[2018-07-19 18:49] carlalexander opened #407 "[debops.python] Problem installing python packages with bootstrap playbook on bionic"
I'm in the process of testing my debops setup for the new Ubuntu LTS. I'm running into a problem with the `bootstrap` playbook trying to install the packages. Specifically, it seems that `apt -q update` isn't running as defined [here](https://github.com/debops/debops/blob/master/ansible/roles/debops.python/raw/tasks/main.yml#L5-L7). Because of that, it can't find all the python packages that it ne

[2018-07-20 08:59] drybjed commented on #407
The `apt-get update` command won't be executed if the package information has been updated during last 12 hours. Did you install that Ubuntu host yourself via an installer, or was that host cloned from an image, say by a VPS provider?

I suppose that this could be changed to be conditional so that users can enable/disable the update as needed or change the timeframe. I'll see what I can do.

[2018-07-20 09:40] drybjed commented on #407
The https://github.com/debops/debops/pull/408 patch should help in this case. @carlalexander, can you check if this solves the issue by setting the variable to `0` in your case?

[2018-07-20 19:59] carlalexander commented on #407
I'm using the Digital Ocean image. The #408 patch did the trick! I have no idea why it doesn't have all the python packages even if the cache is less than 12 hours old. I guess I'll force it to `0` for now.

[2018-07-20 19:59] #407 closed, assigned to nobody

[2018-07-23 04:11] AlMaVizca opened #410 "Configure upstreams with role::nginx:servers"
https://github.com/debops/debops/blob/3df212dea10325fc198d4764acd2204368743cd7/ansible/roles/debops.nginx/tasks/main.yml#L235

is it worth it to add the tag `role::nginx:servers` to setup the upstreams? or would it add another unwanted configurations?

Thanks in advance

[2018-07-24 09:55] #404 closed, assigned to nobody

[2018-07-24 10:07] drybjed commented on #410
Sounds good. I added the tag for maps and upstreams.

[2018-07-24 10:15] #410 closed, assigned to nobody

[2018-07-25 12:34] AlMaVizca commented on #410
Thank you very much :+1:

[2018-08-18 18:28] niccolox opened #420 "Debops Dovecot sql defaults?"
I am installing debops.dovecot and am stuck trying to work out the basic database entries for defaults?

[code]

my database table looks like

[code]

obviously this is wrong

what does dovecot.debops want by default?

[2018-08-21 05:25] lingfish commented on #244
Hi, it would be good if doco was updated here, until Galaxy's changes are released.  I'm properly confused as to how to standalone install DebOps stuff now, due to missing/deeply nested `env/` directories etc.

[2018-08-21 22:27] myrdd opened #422 "[debops.etherpad] upgrading (or downgrading) issues"
I've just performed an upgrade of an _etherpad-lite_ machine managed by `debops.etherpad`, upgrading from `1.6.6` to `1.7.0`. However, changing the `etherpad_version` variable was not sufficient. I had to…

* remove the `'{{ etherpad_src_dir + "/" + etherpad_repository }}'` directory to fulfill the `etherpad_register_source is changed` condition (used by 3 subsequent tasks),
* remove the `'{{ ethe

[2018-08-22 08:34] drybjed commented on #422
Thanks for the bug report. The code is downloaded via `git` and the `etherpad_register_source` variable should contain variables that provide the commit id before and after the checkout - this could be used as a trigger to perform any updates. See for example how [`debops.gitlab` uses them to trigger the checkout after the source is cloned](https://github.com/debops/debops/blob/master/ansible/role

[2018-08-22 12:27] myrdd commented on #422
(I'm not sure if this comment should be covered in a separate issue. If so, just tell me.)

I know that using conditions based on `etherpad_register_source` would follow the style of other debops roles, such as the gitlab one. However, may I suggest a different approach using `facts.d`?

[code]

* the `debops_etherpad_checkout.commit` local fact will hold the **commit hash** corresponding to the c

[2018-08-22 21:39] drybjed commented on #422
Going with Ansible facts is probably a good idea to trigger an upgrade/downgrade, but I wouldn't want to statically record old and current `git` commit in them, especially in the way you propose. The `debops.etherpad` role already has an Ansible fact script, perhaps you could extend it to get the current `git` branch/tag of the checked out Etherpad installation, then in the role compare the existi

[2018-08-23 05:34] myrdd commented on #422
I have overseen the `etc/ansible/facts.d/etherpad.fact.j2` file, of course such a script is a better solution than the way I proposed.

Indeed. With `PWD=/usr/local/src/etherpad-lite/etherpad-lite/` I can run `git rev-parse HEAD`, it works.

yes

FTR: `bin/installDeps.sh`: https://github.com/ether/etherpad-lite/blob/develop/bin/installDeps.sh

[2018-08-27 09:31] drybjed commented on #420
Sorry for a late reply. You can find the database queries defined by the `debops.dovecot` role in [its `defaults/main.yml` file](https://github.com/debops/debops/blob/master/ansible/roles/debops.dovecot/defaults/main.yml#L128-L153), they should be easy to override via inventory variables if necessary.

[2018-08-27 18:35] sread opened #426 "[debops.owncloud] Archive PGP key expired"
Hi, the key specified in

https://github.com/debops/debops/blob/d05a7d949b104ea279e0779b6849ac2307ac518a/ansible/roles/debops.owncloud/tasks/system_package_management.yml#L26

expired on 2018-08-25, causing task "[debops.owncloud : Add ownCloud APT OpenPGP public key]" to fail.

[2018-08-29 04:22] myrdd opened #428 "[debops.nginx] allow "/.well-known/""
Suggestion: Change

[code]

to

[code]

in `ansible/roles/debops.nginx/templates/etc/nginx/sites-available/default.conf.j2`

See also:

- https://www.mnot.net/blog/2010/04/07/well-known
- https://tools.ietf.org/html/rfc5785
- https://en.wikipedia.org/wiki/List_of_/.well-known/_services_offered_by_webservers

[2018-08-29 06:42] drybjed commented on #428
Sounds good to me. Want to make a PR with the change?

[2018-08-29 07:24] drybjed commented on #426
Thanks for the heads up. The role installs Nexcloud by default, that's why it was not picked up in the CI.

[2018-08-29 07:35] #426 closed, assigned to nobody

[2018-08-29 08:43] myrdd commented on #428
Sure.

[2018-08-29 10:15] #428 closed, assigned to nobody

[2018-09-05 15:28] gardouille opened #435 "[debops.php] Find a way to store (old) log file to the proper directory"
In order to have a _clean_ /var/log directory, find a way to send php${php__version}-fpm.log to **/var/log/php${php__version}-fpm** directory.

In my case, a good way to do this would be to use **olddir** parameter in **php__logrotate__dependent_config** but… it's just my use case ^^

And the reason of my request :
[code]

[2018-09-06 06:50] drybjed commented on #435
Agreed. PHP logs could go into a separate directory. Additionally, I wonder if enabling logging for individual pools by default would impact performance? That could help with debugging.

[2018-09-11 07:38] myrdd opened #437 "[debops.gitlab] exception on first run when using an external (non-localhost) PostgreSQL server"
**tl;dr** see fix at the bottom

## steps to reproduce

* run `debops.postgresql_server` on `your-postgresql-server.localhost`
* set `postgresql__server` to `your-postgresql-server.localhost`
* comment out [this `no_log` line in `ansible/roles/debops.postgresql/tasks/main.yml`](https://github.com/debops/debops/blob/4ea3e81a71bd16418cdb4b5a9494d8eaefcdae97/ansible/roles/debops.postgresql/tasks/main

[2018-09-11 07:50] drybjed commented on #437
Thanks for the bug report. I think that the best way to fix this would be to move the Ansible local facts tasks earlier in the `debops.postgresql` task list. This way the facts should be available at the time the role tries to manage the databases, roles, etc.

Can you check if this issue is resolved when you move the last three tasks in `debops.postgresql` just before the "Create PostgreSQL roles

[2018-09-11 07:56] myrdd commented on #437
sure, I'll do

[2018-09-11 08:05] myrdd opened #438 "[debops.gitlab] needs to install 'git'"
`gitlab__base_packages` is missing the `'git'` package:

https://github.com/debops/debops/blob/4ea3e81a71bd16418cdb4b5a9494d8eaefcdae97/ansible/roles/debops.gitlab/defaults/main.yml#L124-L127

needed for cloning Gitlab CE:

https://github.com/debops/debops/blob/4ea3e81a71bd16418cdb4b5a9494d8eaefcdae97/ansible/roles/debops.gitlab/tasks/download_gitlab_ce.yml#L13

btw, what's the way the package nam

[2018-09-11 08:08] drybjed commented on #438
Sounds good, can you create a PR?

There's no special rules for ordering package names. If you want to reorder them alphabetically, go ahead.

[2018-09-11 08:19] myrdd commented on #437
it does fix the issue

[2018-09-11 08:24] drybjed commented on #437
Great, looking forward to a PR. I don't think this will break anything else.

[2018-09-11 08:52] #438 closed, assigned to nobody

[2018-09-11 08:54] #437 closed, assigned to nobody

[2018-09-13 11:58] evilham opened #444 "Issues with debops --skip-tags"
Hello there,

I've noticed today that if I run `debops --limit host`, everything runs fine.

However, if I run `debops --limit host --skip-tags role::ferm`, it fails in `role::kmod` (output below).

Furthermore, if I run `debops --limit host --skip-tags role::ferm,role::kmod`, it fails in `role::tinc` (output below)

It happens to me with ansible version: `2.6.3` under python `2.7.13`.

Can anyone

[2018-09-13 12:07] drybjed commented on #444
The `debops.kmod` role [is used in the `debops.ifupdown` playbook](https://github.com/debops/debops/blob/master/ansible/playbooks/service/ifupdown.yml#L13-L19). The `ifupdown` role has a `debops.ifupdown/env` "sub-role" that prepares the environment for both `debops.kmod` and `debops.ferm` roles. When you skip the `role::ferm` tag, it also skips the invocation of `debops.ifupdown/env` "sub-role",

[2018-09-13 12:11] evilham commented on #444
Wow :-D. That's sneaky, thank you!

I agree, having `skip::<role_name>` sounds like a decent compromise and also sounds like it should work. Will give it a go and if it works add a patch for the ones I skip the most often :-).

[2018-09-13 13:42] evilham commented on #444
@drybjed question: the nfs_server playbook tags `debops.etc_services` as `role::etc_services,role::ferm`, is that correct?

[2018-09-13 13:45] drybjed commented on #444
@evilham Yes. It's not obvious, but `debops.nfs_server` configures various TCP/UDP ports for NFS access in the firewall using names instead of the port numbers. The ports are registered in `/etc/services` by `debops.etc_services`, and are then used in the firewall configuration defined by `debops.ferm`. Without `debops.etc_services` running at least once, these port names would be non-existent and

[2018-09-13 14:44] #444 closed, assigned to nobody

[2018-09-13 14:51] evilham commented on #444
Since this issue is linked from the documentation, I write this here for future reference and for anyone who lands here:

Adding a `skip::<role_name>` tag is not as simple as search and replace in the repository. It does require manual checking, because otherwise the tags would be equivalent and adding a new one would not solve anything.
Rule of thumb: anything under `<role>/env` should *not* have

[2018-09-18 09:08] #125 closed

[2018-09-22 17:43] ypid opened #450 "[debops.mandos] [debops.mandos_client] Mandos Server and client roles"
I wrote a skeleton of the server role at https://github.com/ypid/ansible-mandos. Really nothing fancy. I just want to document this here because me and @drybjed talked about Mandos before and it has it’s use cases. I use both Mandos and Dropbear. Note that I don’t know yet when I will finish the role.

[2018-09-25 23:19] jankatins opened #451 "ferm install results in failing upnp"

[2018-09-25 23:33] jankatins opened #452 "ferm install results in upnp clients not finding anything (e.g. vlc not finding DLNA Servers)"
I used debops to install (up to now partially) my local laptop. It installed the ferm firewall. The installed ferm rules apparently disabled UPNP finding my DLNA server (twonky on my Qnap NAS) in VLC and others. After purging `ferm` the DLNA server is shown again in `vlc` (and `gupnp-universal-cp` from `gupnp-tools` package).

I'm not sure what to make of this. For now I will just keep ferm purged

[2018-09-26 05:51] drybjed commented on #452
You can set in the Ansible inventory of this host:
[code]
This will ensure that `debops.ferm` role will be handled correctly in various DebOps roles. `ferm` will be installed, but will not manage the firewall.

After looking for a bit, it seems that [uPNP requires some advanced firewall tricks to work](https://forum.syncthing.net/t/upnp-and-iptables/2644/7). I guess for starters you could just all

[2018-09-26 13:10] #451 closed, assigned to nobody

[2018-09-27 15:18] mikenowak opened #456 "[debops.slapd] Configure TLS certificates - apparmor getting in the way"
While running this role with pretty much default settings I came across this error

[code]

It appears that apparmor is getting in the way - perhaps an area for improvement?

[code]

For the record this is on Ubuntu 18.04 and I don't believe this is officinally supported yet.

[2018-09-27 17:51] drybjed commented on #456
I'd like to add AppArmor support in DebOps soon. Ubuntu already has it, and Debian Buster will most likely have it enabled by default. One thing that I have to do first is to fix [this `debops.grub` issue](https://github.com/debops/ansible-grub/issues/8#issuecomment-312424389), then the AppArmor role will be able to use `debops.grub` to enable AppArmor support.

I'm not sure yet how the rest of th

[2018-10-04 00:55] mikenowak commented on #456
hi @drybjed ,thanks for responding!

It appears that there is a contrib role  `debops-contrib.apparmor`. I have initially missed this in my research.

I came across the usaged example in the documentation for `debops.dnsmasq`, so my understanding is that something among the lines of the below is what we need:

[code]

I am going to try this and report back.

[2018-10-04 06:18] drybjed commented on #456
Yup, something like this. The current `debops-contrib.apparmor` role is a bit old though, I want to rewrite it to use the `parse_kv_items` filter which will let you put configuration in lists instead of dictionaries, eaiser to merge.

The AppArmor role will probably have to be a dependency for other roles to setup AppArmor policies beforehand. This is an incentive to keep it short (small number of

[2018-10-04 17:32] alo-is opened #469 "[debops.owncloud] Nginx deny_hidden breaking chunked upload in Nextcloud"
Hi,

It seems that this block :

https://github.com/debops/debops/blob/7cbc3df22718e4d379cab0814659454faf6f40ed/ansible/roles/debops.owncloud/defaults/main.yml#L1880-L1897

is missing `deny_hidden: False`, since Nextcloud is using URLs ending with `.file` with the desktop client & the webapp for large files (dav & chunked upload) :

[code]

Removing the following block from my Nginx config fixed t

[2018-10-04 17:34] drybjed commented on #469
Thanks for the bug report! Do you want to make a PR with the fix?

[2018-10-04 20:31] ypid commented on #469
Related to: https://github.com/debops/ansible-owncloud/issues/87

I have not tested this. @drybjed, if you think it is ok, you can merge. I will do my research when I upgrade my Nextcloud instances.

[2018-10-04 20:40] alo-is commented on #469
Yup, same problem as mentioned here debops/ansible-owncloud#87. Also tried with Nextcloud 14, same outcome.

[2018-10-04 21:17] #469 closed, assigned to nobody

[2018-10-06 01:47] mikenowak opened #477 "[debops.user] home_acl - no filter named 'subelements'"
I am hitting the following fatal error:

I am on Ubuntu 18.04
ansible 2.5.1
python 2.7.15rc1
debops 0.8.0

[code]

[2018-10-06 11:15] drybjed commented on #477
The `subelemends` filter has been added in Ansible 2.6. This version is available via Debian `stretch-backports` repository, and should be available on Ubuntu as well. Since Ansible 2.7 is now stable, you should upgrade at least to 2.6 to make this role work.

[2018-10-07 00:32] #477 closed, assigned to nobody

[2018-10-11 05:15] mikenowak opened #483 "[debops.auth] pam_mkhomedir not enabled"
@drybjed,

I am trying to make this to work on Ubuntu 18.04 bionic.

The template is generated correctly

[code]

And the following handler is called `pam-auth-update --package libpam-modules`, however it doesn't enable the pam_mkhomedir.

If I execute `pam-auth-update` manually **activate mkhomedir** is disabled.

[code]

It might be something very bionic specific - I am still looking, but meanwh

[2018-10-11 07:30] drybjed commented on #483
I tested this on Debian Stretch, and seems to be working as expected, `mkhomedir` in the dialog options is enabled, and I can see the correct entry in `/etc/pam.d/common-session` configuration file.

[2018-10-11 13:14] mikenowak commented on #483
Thanks for checking @drybjed , and I believe the behaviour has been altered slightly in bionic - i.e. I can see an addition of the following switch to the **pam-auth-update**:

[code]

I've just checked an older ubuntu 16.04 machine and that switch does not exist there.

Now, testing this:

[code]

I will be submitting a PR for this, but do you have any preference as to how this should be implemen

[2018-10-11 17:07] drybjed commented on #483
The `--enable` argument is probably available from Buster/Bionic onwards? You could add a condition that it's executed only on these OS releases for now. At some point int the future this will be flipped, so that `--enable` usage will be the default and only older releases will not have it used.

[2018-10-14 19:00] mflis opened #487 "Dokuwiki lacks php-xml package"
After installing dokuwiki  according to instructions in  [getting started guide](https://docs.debops.org/en/latest/debops-playbooks/guides/getting-started.html#example-application-dokuwiki) and going to `.../install.php` to finish installation page shows:

Dokuwiki describes solution to this problem in [requirements page](https://www.dokuwiki.org/requirements):

Manually installing package by apt

[2018-10-15 06:59] drybjed commented on #487
Thanks, just confirmed that it happens on Stretch. Fix will be merged shortly.

[2018-10-15 07:17] #487 closed, assigned to nobody

[2018-10-18 12:40] mikenowak opened #491 "[debops.gunicorn] ValueError: No JSON object could be decoded"
I am seeing this error while trying to deploy netbox

[code]

This is on bionic (ubuntu 18.04) with gunicorn 19.7.1-4.

It turns out that gunicorn doesn't like the following lines in the ***application.conf.py***.

[code]

Commenting them out allows the gunicorn start normally.

[2018-10-20 08:05] drybjed commented on #491
Hmm, this wrapping was done due to `pycodestyle` complaining about weird stuff in a Python script. Perhaps the `gunicorn` configuration template should be ignored during tests, in which case the wrap for Jinja code wouldn't be needed. I'll fix this in the next few days.

[2018-10-23 06:52] rei-ifesca opened #495 "Discussion: Using the DragonFly Mail Agent (DMA) as default MTA in DebOps"
An alternative would be to switch the default SMTP server in DebOps from `nullmailer` to [`dma`](https://wiki.debian.org/Debate/DefaultMTA/DMA) which supports `/etc/aliases` database. Of course the role for it should be similar to `debops.nullmailer` and support automatic replacement by Postfix.

_Originally posted by @drybjed in https://github.com/debops/debops/pull/494#issuecomment-431896476_

[2018-10-23 07:11] rei-ifesca commented on #495
Just because of the `/etc/aliases` support I'm for it.

[2018-10-31 19:59] scosist opened #508 "[debops.sshd] misleading documentation regarding sshd__macs_additional"
The comment description for [`sshd__macs_additonal`](https://github.com/debops/debops/blob/ca37c92a432f5e2d91b9fb3d9e363b4ff4439909/ansible/roles/debops.sshd/defaults/main.yml#L450), like `sshd__macs_map`, states that "depending on available version, ordered from stronger to weaker. Newer version supersedes older version" and subsequently the [documentation](https://docs.debops.org/en/master/ansib

[2018-11-03 10:09] myrdd opened #510 "`postgresql__delegate_to` incorrect (?)"
correct me if I'm wrong, but I think the `or not` part as well as `omit` in the `postgresql__delegate_to` definition are incorrect:

https://github.com/debops/debops/blob/16dfbc21ac91b86833a4124db86368c5876b0b74/ansible/roles/debops.postgresql/defaults/main.yml#L92-L95

and should be rather like `mariadb__delegate_to`:

https://github.com/debops/debops/blob/16dfbc21ac91b86833a4124db86368c5876b0b74

[2018-11-06 08:07] drybjed commented on #508
Thanks for the bug report! Your interpretation is correct, this should be a YAML list, not a YAML dictionary of lists.

I imagine that somebody could define a dictionary of additional MACs globally in the inventory and let the role sort it out similarly to `sshd__macs_map`, but in that case just overriding `sshd__macs_map` would do the same. `sshd__additional_macs` can be used to add one or two ad

[2018-11-06 08:17] drybjed commented on #510
I think that you are correct. This change was intended to make task delegation conditional, but doing it using `omit` will most likely mess up the `debops.postgresql` facts. I'll test this to be sure what happens.

[2018-11-06 14:03] #491 closed, assigned to nobody

[2018-11-07 10:21] myrdd opened #516 "debops.nginx seems to require sudo"
I'm using the debops roles without DebOps, as described in the ”example playbook“ documentation sections.

I've been executing `debops.gitlab`, and ansible failed at this `debops.nginx` task:

https://github.com/debops/debops/blob/2806b5517dfa69ba8eb08ea1c49b5726c75209ca/ansible/roles/debops.nginx/tasks/main.yml#L126-L133

because `Destination directory /etc/sudoers.d does not exist`.

Sudo is not

[2018-11-07 10:30] drybjed commented on #516
Thanks for the bug report. :-) This is a tricky issue with different solutions.

Adding `sudo` to list of installed APT packages kind of defeats the purpose if you don't want `sudo` on your systems, or if you use `sudo-ldap` which would be then uninstalled - that's why `debops.sudo` role exists to centralize this in the future.

Adding `debops.sudo` role as a dependency to `debops.nginx` would req

[2018-11-07 10:43] myrdd commented on #516
I'm testing the `ansible_local.sudo.installed` for the nginx (+gitlab) case right now and I will create a PR. :)

[2018-11-07 15:16] myrdd opened #517 "acl required but not installed (debops.gitlab, debops.users)"
Some roles use the `acl` ansible module:

[code]

but ~`apt`~ `acl` is installed only in these roles:

* `debops.apt_install`
* `debops.pki`
* `debops.preseed`

IMHO this is an issue. Still, I could simply put `debops.apt_install` at the top of each playbook. How should this be solved? :)

[2018-11-07 18:39] drybjed commented on #517
I suppose that adding `acl` pacakge to each of the roles that uses the `acl` Ansible module is a good way to solve it. In that case the support is required, and installing `acl` shouldn't affect the system in any significant way. Want to make the PR? You can add it in all the roles that need it at once.

I guess this would require adding the `users__packages` and `users__base_packages` to the `deb

[2018-11-08 08:28] #510 closed, assigned to nobody

[2018-11-08 09:31] mikenowak commented on #491
@drybjed, confirmed - this is now working as intended - many thanks

[2018-11-11 06:23] sread opened #523 "[debops.dovecot] username stripping"
Hi,

I changed my dovecot configuration from LDA to LMTP, and I found that for remote mail sent via postfix->LMTP->dovecot to a system user, I had to add

    auth_username_format = %Ln

to the `/etc/dovecot/conf.d/10-auth.conf` file or Dovecot would reject the original user@domain.com as "User doesn't exist".

Is this a hidden configuration problem I'm missing? Or something missing from debops.

[2018-11-11 08:20] drybjed commented on #523
It's most likely something missing from DebOps. Do you want to add it conditionally, when LMTP is enabled?

[2018-11-11 16:41] sread commented on #523
Yes, and probably only when the "system" `dovecot_user_accounts` method is active?

My concern is that for people using SQL or virtual mailboxes, this is too heavy of a hammer, particularly if they rely on being passed both the username and domain.

- https://serverfault.com/questions/585362/virtual-and-system-mailboxes-how-to-set-passdb-propperly?rq=1
 - https://wiki2.dovecot.org/Authentication/M

[2018-11-11 18:02] drybjed commented on #523
Sure, sounds good for a start. I think that entire role should rewritten in the `debops.freeradius` style with some default configuration, so that different parts of the config can be activated conditionally. Perhaps even split into multiple roles that manage IMAP/POP3, with maybe some central role that works a'la `debops.postfix` and manages the config files. At least, I see this in that role's f

[2018-11-12 13:09] rei-ifesca opened #526 "debops.pki changing TLS certificate (pki_realm) from internal to acme"
Hello @drybjed,

it is possible to change the signing CA of an exisitng pki_realm?

Currently I have several pki_realms running on a host, initially all signed with the internal PKI created automagically by debops.pki. So far so good. ACME is enabled, hovewer deactivated on a realm basis.

Now I need to use a valid Let's Encrypt TLS cert for an existing realm, thus I changed the acme iteam of the

[2018-11-12 14:41] drybjed commented on #526
Because you cannot modify existing X.509 certificates, `debops.pki` is not designed to update existing PKI realms. Easiest way to test this is to just remove the realm directory (`/etc/pki/realms/<realm>/`) and re-run the role. If you have ACME support installed, you should get the certificates from Let's Encrypt and they should be automatically enabled.

However, the role should had switched to t

[2018-11-13 06:39] nqb opened #527 "Vagrantfile: RuntimeError: can't modify frozen String"
Hello,

With Vagrant 2.2.0, I get following error after doing a `vagrant up`:
[code]
If I comment line 427: https://github.com/debops/debops/blob/6612be6433f712614bcf0ba25ec88a6f32d17483/Vagrantfile#L427

VM boots.

[2018-11-13 07:08] #527 closed, assigned to nobody

[2018-11-13 08:36] rei-ifesca commented on #526
This would be a nice feaute, just like Let's Encrypt allows you to expand existing TLS certificates.

Already done this, several times. Even removed any reference to the corresponding realm in the ansible-controller ansible/secret path. I always ended up with a certificate signed from the internal PKI.

I can actually get LE certs, however only for "new configured" domains, not existing ones.

Yes